<div
	class="d-flex flex-column jusitfy-content-center align-items-center p-3"
	style="max-width: 500px"
>
	<h1 class="mb-3">Crea allenamento</h1>

	<div
		class="d-flex flex-column justify-content-around align-items-center mb-2 w-100"
	>
		<button
			class="w-100 btn btn-light shadow-sm rounded-3 p-3 mb-3"
			(click)="navigate('/home/prebuild-workout')"
		>
			Crea
			<i class="bi bi-plus"></i>
		</button>

		<button
			class="w-100 btn btn-light shadow-sm rounded-3 p-3"
			(click)="navigate('/home/training-program-selector')"
		>
			Scheda
			<i class="bi bi-file-earmark-text"></i>
		</button>
	</div>
</div>
