<!-- Desktop -->
<div id="wrapper" class="d-none d-lg-block">
	<!-- About GYMBRO -->
	<section>
		<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
			<img src="assets/logo.png" height="40%" alt="">

			<h1
				class="mt-5 w-50 text-center fst-italic"
				style="
					font-family: kepler-std-semicondensed-dis, serif!important;
				"
			>
				"GymBro è l'app che ti permette di tracciare i tuoi progressi in palestra"
			</h1>
		</div>
	</section>

	<!-- Features -->
	<section>
		<div id="carouselExample" class="carousel carousel-dark slide w-100 h-100">
			<div class="carousel-inner w-100 h-100">
				<div class="carousel-item active w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Crea workout, da zero o grazie a una scheda salvata sul tuo profilo</p>
							<img
								class="position-absolute top-0 start-50 translate-middle"
								style="background-color: #fff;"
								width="80"
								src="assets/dumbbell.png"
								alt="Dumbbell"
							>
						</div>
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Visualizza lo storico dei tuoi workout</p>
							<img
								class="position-absolute top-0 start-50 translate-middle"
								style="background-color: #fff;"
								width="80"
								src="assets/history.png"
								alt="Dumbbell"
							>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Segui i tuoi progessi nella sezione "I tuoi progressi"</p>
							<i
								class="bi bi-graph-up position-absolute top-0 start-50 translate-middle"
								style="font-size: 80px; background-color: #fff;"
							></i>
						</div>
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Gestisci le tue schede di allenamento rapidamente</p>
							<i
								class="bi bi-journals position-absolute top-0 start-50 translate-middle"
								style="font-size: 80px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Segui altri GymBro e visualizza le loro schede di allenamento</p>
							<i
								class="bi bi-people position-absolute top-0 start-50 translate-middle"
								style="font-size: 80px; background-color: #fff;"
							></i>
						</div>
						<div class="feature-card rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Modifica le impostazioni del tuo profilo</p>
							<i
								class="bi bi-gear-wide-connected position-absolute top-0 start-50 translate-middle"
								style="font-size: 80px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>

	<!-- About us -->
	<section>
		<div class="container d-flex flex-column justify-content-center align-items-center w-100 h-100">
			<div class="w-100 d-flex align-items-center">
				<div class="card mb-5 w-100">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="assets/lorenzo-wide.jpeg" class="img-fluid rounded-start" alt="Photo">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Lorenzo Deriu</h5>
								<p class="card-text">Work hard, play hard!</p>
								<p class="card-text"><small class="text-body-secondary">CEO & CO-Founder</small></p>
								<div class="mb-2 d-flex align-items-center">
									<a
										class="btn btn-dark rounded-5 me-2"
										href="https://github.com/lorenzoDeriu"
										target="_blank"
									>
										GitHub
										<i class="ms-1 bi bi-github"></i>
									</a>
									<a
										class="btn btn-dark rounded-5"
										href="https://www.linkedin.com/in/lorenzo-deriu/"
										target="_blank"
									>
										LinkedIn
										<i class="ms-1 bi bi-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="w-100 d-flex align-items-center justify-content-end">
				<div class="card mb-5 w-100">
					<div class="row g-0">
						<div class="col-md-8">
							<div class="card-body">
								<h5 class="card-title">Mario Di Modica</h5>
								<p class="card-text">E sei bella ma non so come fare con te...</p>
								<p class="card-text"><small class="text-body-secondary">CO-Founder & Front-End Developer</small></p>
								<div class="mb-2 d-flex align-items-center">
									<a
										class="btn btn-dark rounded-5 me-2"
										href="https://mxo01.github.io/Personal-Website/"
										target="_blank"
									>
										Portfolio
										<i class="ms-1 bi bi-globe2"></i>
									</a>
									<a
										class="btn btn-dark rounded-5 me-2"
										href="https://github.com/Mxo01"
										target="_blank"
									>
										GitHub
										<i class="ms-1 bi bi-github"></i>
									</a>
									<a
										class="btn btn-dark rounded-5"
										href="https://www.linkedin.com/in/mariodimodica/"
										target="_blank"
									>
										LinkedIn
										<i class="ms-1 bi bi-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<img src="assets/mario.jpg" class="img-fluid rounded-end" alt="Photo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Mobile -->
<div id="wrapper" class="d-block d-lg-none">
	<!-- About GYMBRO -->
	<section>
		<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
			<img class="mt-2" src="assets/logo.png" width="200px" alt="">

			<h1
				class="my-2 w-75 text-center fst-italic"
				style="
					font-family: kepler-std-semicondensed-dis, serif!important;
					font-size: 20px;
				"
			>
				"GymBro è l'app che ti permette di tracciare i tuoi progressi in palestra"
			</h1>
		</div>
	</section>

	<!-- Features -->
	<section>
		<div id="carouselExampleMobile" class="carousel carousel-dark slide w-100 h-100">
			<div class="carousel-inner w-100 h-100">
				<div class="carousel-item active w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Crea workout, da zero o grazie a una scheda salvata sul tuo profilo</p>
							<img
								class="position-absolute top-0 start-50 translate-middle"
								style="background-color: #fff;"
								width="45"
								src="assets/dumbbell.png"
								alt="Dumbbell"
							>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Visualizza lo storico dei tuoi workout</p>
							<img
								class="position-absolute top-0 start-50 translate-middle"
								style="background-color: #fff;"
								width="45"
								src="assets/history.png"
								alt="Dumbbell"
							>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Segui i tuoi progessi nella sezione "I tuoi progressi"</p>
							<i
								class="bi bi-graph-up position-absolute top-0 start-50 translate-middle"
								style="font-size: 45px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Gestisci le tue schede di allenamento rapidamente</p>
							<i
								class="bi bi-journals position-absolute top-0 start-50 translate-middle"
								style="font-size: 45px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Segui altri GymBro e visualizza le loro schede di allenamento</p>
							<i
								class="bi bi-people position-absolute top-0 start-50 translate-middle"
								style="font-size: 45px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100 h-100">
					<div class="cards-wrapper d-flex justify-content-center align-items-center h-100 w-100">
						<div class="feature-card-mobile rounded-5 border p-4 position-relative d-flex flex-column justify-content-center">
							<p class="mb-0 text-center">Modifica le impostazioni del tuo profilo</p>
							<i
								class="bi bi-gear-wide-connected position-absolute top-0 start-50 translate-middle"
								style="font-size: 45px; background-color: #fff;"
							></i>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleMobile" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleMobile" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>

	<!-- About us -->
	<section *ngIf="!isMobileHorizontal()" class="d-flex flex-column align-items-center">
		<div class="avatar d-flex flex-column align-items-center mt-3">
			<div class="d-flex align-items-center mx-2">
				<img
					src="assets/lorenzo.jpeg"
					width="40%"
					alt="Photo"
					style="border-radius: 50%; margin-bottom: .5em;"
				>

				<div class="ms-3">
					<h6 class="w-100">Lorenzo Deriu</h6>
					<p class="w-100" style="width: 70%; font-size: 12px;">Work hard, play hard!</p>
					<p class="text-secondary w-100" style="font-size: 10px;">CEO & CO-Founder</p>

					<div class="d-flex align-items-center">
						<a
							class="link-dark me-3"
							href="https://github.com/lorenzoDeriu"
							target="_blank"
						>
							<i class="bi bi-github"></i>
						</a>
						<a
							class="link-dark"
							href="https://www.linkedin.com/in/lorenzo-deriu/"
							target="_blank"
						>
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="avatar d-flex flex-column align-items-center mt-3">
			<div class="d-flex align-items-center mx-2">
				<img
					src="assets/mario-square.jpg"
					width="40%"
					alt="Photo"
					style="border-radius: 50%; margin-bottom: .5em;"
				>

				<div class="ms-3">
					<h6 class="w-100">Mario Di Modica</h6>
					<p class="w-100" style="width: 70%; font-size: 12px;">E sei bella ma non so come fare con te...</p>
					<p class="text-secondary w-100" style="font-size: 10px;">CO-Founder & Front-End Developer</p>

					<div class="d-flex align-items-center">
						<a
							class="link-dark me-3"
							href="https://mxo01.github.io/Personal-Website/"
							target="_blank"
						>
							<i class="bi bi-globe2"></i>
						</a>
						<a
							class="link-dark me-3"
							href="https://github.com/Mxo01"
							target="_blank"
						>
							<i class="bi bi-github"></i>
						</a>
						<a
							class="link-dark"
							href="https://www.linkedin.com/in/mariodimodica/"
							target="_blank"
						>
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<button class="btn btn-sm btn-dark my-3" (click)="backToHome()">
			Torna alla home
			<i class="ms-1 bi bi-house-fill"></i>
		</button>
	</section>

	<section *ngIf="isMobileHorizontal()" class="d-flex">
		<div class="w-100 d-flex flex-column align-items-center mt-3">
			<div class="d-flex align-items-center mx-2">
				<img
					src="assets/lorenzo.jpeg"
					width="150"
					alt="Photo"
					style="border-radius: 50%; margin-bottom: .5em;"
				>

				<div class="ms-3">
					<h6 class="w-100">Lorenzo Deriu</h6>
					<p class="w-100" style="width: 70%; font-size: 12px;">Work hard, play hard!</p>
					<p class="text-secondary w-100" style="font-size: 10px;">CEO & CO-Founder</p>

					<div class="d-flex align-items-center">
						<a
							class="link-dark me-3"
							href="https://github.com/lorenzoDeriu"
							target="_blank"
						>
							<i class="bi bi-github"></i>
						</a>
						<a
							class="link-dark"
							href="https://www.linkedin.com/in/lorenzo-deriu/"
							target="_blank"
						>
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="w-100 d-flex flex-column align-items-center mt-3">
			<div class="d-flex align-items-center mx-2">
				<img
					src="assets/mario-square.jpg"
					width="150"
					alt="Photo"
					style="border-radius: 50%; margin-bottom: .5em;"
				>

				<div class="ms-3">
					<h6 class="w-100">Mario Di Modica</h6>
					<p class="w-100" style="width: 70%; font-size: 12px;">E sei bella ma non so come fare con te...</p>
					<p class="text-secondary w-100" style="font-size: 10px;">CO-Founder & Front-End Developer</p>

					<div class="d-flex align-items-center">
						<a
							class="link-dark me-3"
							href="https://mxo01.github.io/Personal-Website/"
							target="_blank"
						>
							<i class="bi bi-globe2"></i>
						</a>
						<a
							class="link-dark me-3"
							href="https://github.com/Mxo01"
							target="_blank"
						>
							<i class="bi bi-github"></i>
						</a>
						<a
							class="link-dark"
							href="https://www.linkedin.com/in/mariodimodica/"
							target="_blank"
						>
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
