<div id="about-container">
	<h1><span class="title">About GymBro</span></h1>

	<p>
		GymBro è l'app che ti permette di tracciare i tuoi progressi in
		palestra.
	</p>

	<h3><span class="title">Funzionalità</span></h3>
	<ul>
		<li>
			Creazione nuovi workout, custom o tramite l'ausilio di una scheda
			salvata sul proprio profilo
		</li>
		<li>Visualizzazione dello storico dei workout effettuati</li>
		<li>
			Visualizzazione del progresso su ogni esercizio tramite la pagina "I
			tuoi progressi"
		</li>
		<li>
			Gestione delle schede di allenamento ognuna divisibile in varie
			sessioni di allenamento
		</li>
		<li>
			GymBro ti permette di seguire i tuoi amici e di visualizzare le loro
			schede di allenamento e, eventualmente, salvarle
		</li>
	</ul>

	<h3><span class="title">About me</span></h3>
	<p>
		Il mio nome è Lorenzo, sono uno studente di Informatica presso
		l'Università di Pisa.
		<br />
		Quest'app è nata come progetto del corso di Sviluppo di applicazioni
		web. Se ti piacerebbe l'introduzione di una funzionalità, o hai
		riscontrato problemi con l'utilizzo dell'app fammelo sapere tramite un
		feedback nell'apposito form.
		<br />
		Sentiti libero di contattarmi anche tramite
		<a href="https://www.linkedin.com/in/lorenzo-deriu/">LinkedIn</a>
		.
	</p>

	<button
		mat-raised-button
		(click)="backToHome()"
	>
		Torna alla Home
	</button>
</div>
