<div id="add-exercise-container">
	<form
		#addExerciseForm="ngForm"
		(ngSubmit)="addExercise(addExerciseForm)"
	>
		<mat-form-field appearance="outline">
			<mat-label>Nome Esercizio</mat-label>
			<input
				matInput
				type="text"
				name="exercise"
				required
				ngModel
			/>
		</mat-form-field>

		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="!addExerciseForm.valid"
		>
			Aggiungi
		</button>
	</form>

	<button
		mat-raised-button
		color="warn"
		id="cancel-button"
		(click)="closeDialog()"
	>
		Annulla
	</button>
</div>
