<div id="main-container">
	<div class="home-div" id="new-workout" matRipple routerLink="/home/new-workout-choice">
		<h2>Nuovo Allenamento</h2>
		<img src="../../../assets/dumbbellIcon.png" alt="">
	</div>

	<div class="home-div" id="old-workout" matRipple routerLink="/home/old-workouts">
		<h2>Vecchi Allenamenti</h2>
		<img src="../../../assets/historyIcon.png" alt="">
	</div>

	<div class="home-div" id="progress" matRipple routerLink="/home/progress">
		<h2>I tuoi Progressi</h2>
		<img src="../../../assets/progressIcon.png" alt="">
	</div>

	<div class="home-div" id="training-programs" matRipple routerLink="/home/training-programs">
		<h2>Le tue Schede</h2>
		<img src="../../../assets/documentIcon.png" alt="">
	</div>
</div>
