<div id="wrapper">
	<div id="main-container">
		<div class="home-div rounded-5" id="new-workout" (click)="workout()">
			<h3 class="mb-0" style="font-weight: 550">
				{{
					workoutExists()
						? editMode
							? "Modifica"
							: "Continua"
						: "Crea"
				}}
				Allenamento
			</h3>
			<img src="assets/dumbbell.png" alt="" />
		</div>

		<div
			class="home-div rounded-5"
			id="old-workout"
			routerLink="/home/old-workouts"
		>
			<h3 class="mb-0" style="font-weight: 550">Vecchi Allenamenti</h3>
			<img src="assets/history.png" alt="" />
		</div>

		<div
			class="home-div rounded-5"
			id="progress"
			(click)="openWIPSnackbar()"
		>
			<h3 class="mb-0 text-center opacity-25" style="font-weight: 550">
				I tuoi Progressi
			</h3>
			<img src="assets/progress.png" class="opacity-25" alt="" />
		</div>

		<div
			class="home-div rounded-5"
			id="training-programs"
			routerLink="/home/training-programs"
		>
			<h3 class="mb-0" style="font-weight: 550">Le tue Schede</h3>
			<img src="assets/programs.png" alt="" />
		</div>
	</div>
</div>
