#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	position: relative;
	overflow: auto;
}

#main-container {
	width: 70vw;
	height: 100%;
	display: grid;
	grid-auto-columns: auto;
	grid-auto-rows: auto;
	gap: 10px;
	grid-template-areas:
		"na"
		"va"
		"tp"
		"ts";
}

img {
	width: 100px;
	height: 100px;
	opacity: 0.2;
}

.home-div {
	height: 100%;
	padding: 30px;
	box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
	transition: box-shadow 0.3s;
	cursor: pointer;
}

.home-div:hover {
	box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}

.home-div:nth-child(1) {
	grid-area: na;
}
.home-div:nth-child(2) {
	grid-area: va;
}
.home-div:nth-child(3) {
	grid-area: tp;
}
.home-div:nth-child(4) {
	grid-area: ts;
}

.home-div:hover img {
	animation: increaseOpacity 0.5s forwards;
}

@keyframes increaseOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}

/* Desktop */
@media (min-width: 900px) {
	#main-container {
		height: 80svh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		gap: 30px;
		grid-template-areas:
			"na na na tp"
			"na na na tp"
			"va va va tp"
			"va va va tp"
			"ts ts ts ts"
			"ts ts ts ts";
	}

	#new-workout,
	#old-workout {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	#training-programs {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#progress {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	#progress h3 {
		margin-top: 30px;
	}
}

/* Mobile */
@media (max-width: 900px) {
	#wrapper {
		height: calc(100svh - 65px);
		transform: translateY(65px);
	}

	#main-container {
		padding: 20px;
		overflow: auto;
		width: 100%;
		height: auto;
		gap: 20px;
	}

	img {
		width: 50px;
		height: 50px;
		opacity: 0.2;
	}

	.home-div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
		min-height: 120px;
		max-height: 180px;
	}

	h3 {
		font-size: medium;
		margin-right: 10px;
	}
}
