<div class="welcome overflow-hidden">
	<!-- Mobile -->
	<div class="mobile-wrap w-100 d-block d-lg-none" style="height: 100svh">
		<div class="d-flex justify-content-center pt-3" style="height: 15%">
			<img src="assets/logo-w.png" />
		</div>
		<div class="scrollable" style="height: 70%">
			<section
				id="0-m"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img style="width: 60%" src="assets/tip1.svg" alt="" />
				<div
					class="tip text-light d-flex justify-content-center align-items-center p-2 mt-5 w-75"
				>
					<p class="lh-base w-75 me-3 mb-0" style="font-size: 0.9rem">
						Monitora i tuoi allenamenti tenendo traccia dei tuoi
						progressi
					</p>
					<i
						class="bi bi-heart-pulse-fill"
						style="font-size: 2.5rem"
					></i>
				</div>
			</section>
			<section
				id="1-m"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img style="width: 50%" src="assets/tip2.svg" alt="" />
				<div
					class="tip text-light d-flex justify-content-center align-items-center p-2 mt-5 w-75"
				>
					<p class="lh-base w-75 mb-0" style="font-size: 0.9rem">
						Tieni d'occhio i tuoi risultati con grafici interattivi
						e statistiche dettagliate
					</p>
					<i
						class="bi bi-bar-chart-fill"
						style="font-size: 2.5rem"
					></i>
				</div>
			</section>
			<section
				id="2-m"
				class="d-flex flex-column justify-content-center align-items-center"
			>
				<img style="width: 50%" src="assets/tip3.svg" alt="" />
				<div
					class="tip text-light d-flex justify-content-center align-items-center p-2 mt-5 w-75"
				>
					<p class="lh-base w-75 mb-0" style="font-size: 0.9rem">
						Connettiti con altri GymBro in modo da condivere le
						vostre routine di allenamento
					</p>
					<i
						class="bi bi-person-fill-add"
						style="font-size: 2.5rem"
					></i>
				</div>
			</section>
		</div>
		<div
			class="d-flex justify-content-center align-items-center w-100"
			style="height: 10%"
		>
			<button (click)="access()" class="blue-btn text-light btn btn-sm">
				Accedi
			</button>
		</div>
		<ul class="nav justify-content-center" style="height: 5%">
			<li class="nav-item">
				<a
					id="ctrl0-m"
					class="nav-link active"
					aria-current="page"
					(click)="toFirstSlideM()"
					style="font-size: 10px"
				>
					<i class="bi bi-circle-fill"></i>
				</a>
			</li>
			<li class="nav-item">
				<a
					id="ctrl1-m"
					class="nav-link"
					(click)="toSecondSlideM()"
					style="font-size: 10px"
				>
					<i class="bi bi-circle-fill"></i>
				</a>
			</li>
			<li class="nav-item">
				<a
					id="ctrl2-m"
					class="nav-link"
					(click)="toThirdSlideM()"
					style="font-size: 10px"
				>
					<i class="bi bi-circle-fill"></i>
				</a>
			</li>
		</ul>
	</div>

	<!-- Desktop -->
	<div class="wrapper d-none d-lg-flex">
		<div class="position-absolute top-0 end-0 me-3 mt-3">
			<a
				hidden
				id="install"
				(click)="installApp()"
				class="blue-link me-3"
			>
				Installa
				<i class="ms-1 bi bi-download"></i>
			</a>
			<a href="about-preview" class="blue-link">
				About
				<i class="ms-1 bi bi-question-circle-fill"></i>
			</a>
		</div>
		<div class="left-wrap" style="width: 60%; height: 100svh">
			<div class="scrollable" style="height: 95%; overflow-x: hidden">
				<section
					id="0"
					class="d-flex flex-column justify-content-center align-items-center"
				>
					<img style="width: 60%" src="assets/tip1.svg" alt="" />
					<p
						class="position-relative tip text-light text-center lh-base w-75 mt-5 p-5"
						style="font-size: 1.2rem"
					>
						Monitora i tuoi allenamenti tenendo traccia dei tuoi
						progressi
						<i
							class="bi bi-heart-pulse-fill position-absolute top-100 start-50 translate-middle"
							style="font-size: 4rem"
						></i>
					</p>
				</section>
				<section
					id="1"
					class="d-flex flex-column justify-content-center align-items-center"
				>
					<img style="width: 50%" src="assets/tip2.svg" alt="" />
					<p
						class="position-relative tip text-light text-center lh-base w-75 mt-5 p-5"
						style="font-size: 1.2rem"
					>
						Tieni d'occhio i tuoi risultati con grafici interattivi
						e statistiche dettagliate
						<i
							class="bi bi-bar-chart-fill position-absolute top-100 start-50 translate-middle"
							style="font-size: 4rem"
						></i>
					</p>
				</section>
				<section
					id="2"
					class="d-flex flex-column justify-content-center align-items-center"
				>
					<img style="width: 50%" src="assets/tip3.svg" alt="" />
					<p
						class="position-relative tip text-light text-center lh-base w-75 mt-5 p-5"
						style="font-size: 1.2rem"
					>
						Connettiti con altri GymBro in modo da condivere le
						vostre routine di allenamento
						<i
							class="bi bi-person-fill-add position-absolute top-100 start-50 translate-middle"
							style="font-size: 4rem"
						></i>
					</p>
				</section>
			</div>
			<ul class="nav justify-content-center" style="height: 5%">
				<li class="nav-item">
					<a
						id="ctrl0"
						class="nav-link active"
						aria-current="page"
						(click)="toFirstSlide()"
						style="font-size: 10px"
					>
						<i class="bi bi-circle-fill"></i>
					</a>
				</li>
				<li class="nav-item">
					<a
						id="ctrl1"
						class="nav-link"
						(click)="toSecondSlide()"
						style="font-size: 10px"
					>
						<i class="bi bi-circle-fill"></i>
					</a>
				</li>
				<li class="nav-item">
					<a
						id="ctrl2"
						class="nav-link"
						(click)="toThirdSlide()"
						style="font-size: 10px"
					>
						<i class="bi bi-circle-fill"></i>
					</a>
				</li>
			</ul>
		</div>

		<!-- Accesso -->
		<div
			*ngIf="onLogin"
			class="right-wrap d-flex justify-content-center align-items-center"
			style="width: 40%; height: 100svh"
		>
			<div
				class="d-flex flex-column justify-content-center align-items-center p-3 h-100 w-100"
			>
				<img src="assets/logo.png" width="200" />
				<div
					class="mt-5 d-flex flex-column justify-content-center align-items-center px-5"
					style="
						min-width: 250px;
						width: 80vw;
						max-width: 400px;
						margin-bottom: 32px;
					"
				>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">E-mail</p>
						<input
							name="email"
							[(ngModel)]="email"
							type="email"
							class="border-0 border-bottom py-1"
							style="background-color: transparent"
						/>
					</div>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">
							Password
							<button
								tabindex="-1"
								(click)="showHidePassword()"
								class="btn btn-sm border-0"
							>
								<i *ngIf="hidePwd" class="bi bi-eye"></i>
								<i *ngIf="!hidePwd" class="bi bi-eye-slash"></i>
							</button>
						</p>
						<input
							name="password"
							[(ngModel)]="password"
							[type]="hidePwd ? 'password' : 'text'"
							class="border-0 border-bottom py-1 w-100"
							style="background-color: transparent"
						/>
					</div>
					<a
						(click)="forgotPassword()"
						class="mb-3 text-decoration-none blue-link"
					>
						Password dimenticata?
					</a>
					<button
						[disabled]="!allowLogin()"
						(click)="login()"
						class="purple-btn btn w-100 mb-3 text-light"
					>
						Accedi
					</button>
					<div
						class="mb-3 d-flex justify-content-center align-items-center w-100"
					>
						<hr size="5px" width="100" color="white" />
						<span class="mx-3">oppure</span>
						<hr size="5px" width="100" color="white" />
					</div>
					<div
						class="d-flex justify-content-around align-items-center w-100 mb-3"
					>
						<button
							(click)="accessWithGoogle()"
							class="btn"
							style="border: none"
						>
							<img
								src="assets/google-logo.png"
								height="30"
								alt=""
							/>
						</button>
						<button
							matTooltip="Non disponibile al momento"
							class="btn"
							style="border: none; cursor: not-allowed"
						>
							<img
								src="assets/facebook-logo.jpg"
								height="30"
								alt=""
							/>
						</button>
						<button
							(click)="accessWithTwitter()"
							class="btn"
							style="border: none"
						>
							<img src="assets/x-logo.webp" height="30" alt="" />
						</button>
					</div>
					<p class="mb-0">
						Non hai un account?
						<a
							(click)="switchToRegister()"
							class="blue-link text-decoration-none"
						>
							Registrati
						</a>
					</p>
					<a
						target="_blank"
						href="https://www.freeprivacypolicy.com/live/28da0d30-3286-4475-ad3f-964a2576f242"
						class="align-self-center"
						style="
							cursor: pointer;
							font-size: 0.5rem;
							color: black;
							text-decoration: underline;
						"
					>
						Privacy
					</a>
				</div>
			</div>
		</div>

		<!-- Registrazione -->
		<div
			*ngIf="!onLogin"
			class="right-wrap d-flex justify-content-center align-items-center"
			style="width: 40%; height: 100svh"
		>
			<div
				class="d-flex flex-column justify-content-center align-items-center p-3 h-100 w-100"
			>
				<img src="assets/logo.png" width="200" />
				<div
					class="mt-5 d-flex flex-column justify-content-center align-items-center px-5"
					style="
						min-width: 250px;
						width: 80vw;
						max-width: 400px;
						margin-bottom: 32px;
					"
				>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">Username</p>
						<input
							name="username"
							[(ngModel)]="username"
							type="text"
							class="border-0 border-bottom py-1"
							style="background-color: transparent"
						/>
					</div>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">E-mail</p>
						<input
							name="emailRegister"
							[(ngModel)]="emailRegister"
							type="email"
							class="border-0 border-bottom py-1"
							style="background-color: transparent"
						/>
					</div>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">
							Password
							<button
								tabindex="-1"
								(click)="showHidePassword()"
								class="btn btn-sm border-0"
							>
								<i *ngIf="hidePwd" class="bi bi-eye"></i>
								<i *ngIf="!hidePwd" class="bi bi-eye-slash"></i>
							</button>
						</p>
						<input
							name="passwordRegister"
							[(ngModel)]="passwordRegister"
							[type]="hidePwd ? 'password' : 'text'"
							class="border-0 border-bottom py-1 w-100"
							style="background-color: transparent"
						/>
					</div>
					<div class="d-flex flex-column w-100 mb-3">
						<p class="mb-0">
							Conferma Password
							<button
								tabindex="-1"
								(click)="showHidePasswordC()"
								class="btn btn-sm border-0"
							>
								<i *ngIf="hidePwdConfirm" class="bi bi-eye"></i>
								<i
									*ngIf="!hidePwdConfirm"
									class="bi bi-eye-slash"
								></i>
							</button>
						</p>
						<input
							name="confirmPassword"
							[(ngModel)]="confirmPassword"
							[type]="hidePwdConfirm ? 'password' : 'text'"
							class="border-0 border-bottom py-1 w-100"
							style="background-color: transparent"
						/>
					</div>
					<button
						[disabled]="!allowRegister()"
						(click)="register()"
						class="purple-btn btn w-100 mb-3 text-light"
					>
						Registrati
					</button>
					<p class="mb-0">
						Hai già un account?
						<a
							(click)="switchToLogin()"
							class="blue-link text-decoration-none"
						>
							Accedi
						</a>
					</p>
					<a
						target="_blank"
						href="https://www.freeprivacypolicy.com/live/28da0d30-3286-4475-ad3f-964a2576f242"
						class="align-self-center"
						style="
							cursor: pointer;
							font-size: 0.5rem;
							color: black;
							text-decoration: underline;
						"
					>
						Privacy
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
