<div
	class="d-flex flex-column justify-content-center align-items-center overflow-hidden"
	style="max-height: 60svh; max-width: 95vw;"
>
	<div class="overflow-auto p-3">
		<h1 class="text-center">Nuovo esercizio</h1>

		<form class="d-none d-lg-flex flex-column align-items-center">
			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text">Esercizio</span>

				<select
					class="form-select"
					aria-label="Default select example"
					style="cursor: pointer;"
					[(ngModel)]="exercise.name"
					[ngModelOptions]="{standalone: true}"
				>
					<option *ngFor="let exercise of options" [value]="exercise">
						{{ exercise }}
					</option>
				</select>

				<button class="btn btn-dark" type="button" (click)="openCustomExerciseDialog()">
					Crea
					<i class="ms-1 bi bi-plus-lg"></i>
				</button>
			</div>

			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text">Serie</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.series"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="d-flex align-items-center mb-3">
				<div class="input-group flex-nowrap me-2">
					<span class="input-group-text">Min Reps</span>
					<input
						type="number"
						class="form-control"
						[(ngModel)]="exercise.range[0]"
						[min]="exercise.range[1]"
						[ngModelOptions]="{standalone: true}"
					>
				</div>
				<div class="input-group flex-nowrap ms-2">
					<span class="input-group-text">Max Reps</span>
					<input
						type="number"
						class="form-control"
						[(ngModel)]="exercise.range[1]"
						[max]="exercise.range[0]"
						[ngModelOptions]="{standalone: true}"
					>
				</div>
			</div>

			<p class="text-center">Intensità (RPE)</p>

			<div class="btn-group d-flex justify-content-center mb-3 w-100" role="group" aria-label="Basic radio toggle button group">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
				<label class="btn btn-outline-dark" for="btnradio1">Leggero</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
				<label class="btn btn-outline-dark" for="btnradio2">Moderato</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
				<label class="btn btn-outline-dark" for="btnradio3">Cedimento</label>
			</div>

			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text">Recupero</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer;"
					[(ngModel)]="exercise.rest.minutes"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
				</select>
				<span class="input-group-text">:</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer;"
					[(ngModel)]="exercise.rest.seconds"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>
			</div>

			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text">Note</span>
				<input
					type="text"
					class="form-control"
					[(ngModel)]="exercise.note"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="d-flex align-items-center w-100">
				<button class="btn w-100 me-2 add-btn text-light" style="border: none; background-color: #6b44d4;" [disabled]="!savable()" (click)="save()">Aggiungi</button>
				<button class="btn btn-dark w-100 ms-2" (click)="closeDialog()">Annulla</button>
			</div>
		</form>


		<!-- Mobile -->
		<form class="d-flex flex-column align-items-center d-lg-none">
			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text">Esercizio</span>

				<select
					class="form-select"
					aria-label="Default select example"
					style="cursor: pointer;"
					[(ngModel)]="exercise.name"
					[ngModelOptions]="{standalone: true}"
				>
					<option *ngFor="let exercise of options" [value]="exercise">
						{{ exercise }}
					</option>
				</select>

				<button class="btn btn-dark" type="button" (click)="openCustomExerciseDialog()">
					<i class="bi bi-plus-lg"></i>
				</button>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text">Serie</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.series"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="d-flex align-items-center mb-3">
				<div class="input-group input-group-sm flex-nowrap me-2">
					<span class="input-group-text">Min</span>
					<input
						type="number"
						class="form-control"
						[(ngModel)]="exercise.range[0]"
						[min]="exercise.range[1]"
						[ngModelOptions]="{standalone: true}"
					>
				</div>
				<div class="input-group input-group-sm flex-nowrap ms-2">
					<span class="input-group-text">Max</span>
					<input
						type="number"
						class="form-control"
						[(ngModel)]="exercise.range[1]"
						[max]="exercise.range[0]"
						[ngModelOptions]="{standalone: true}"
					>
				</div>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text">RPE</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer;"
					[(ngModel)]="exercise.RPE"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="leggero">Leggero (6-7)</option>
					<option value="moderato" selected>Moderato (8-9)</option>
					<option value="cedimento">Cedimento (10)</option>
				</select>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text"><i class="bi bi-stopwatch-fill"></i></span>
				<select
					class="form-select custom-select"
					style="cursor: pointer;"
					[(ngModel)]="exercise.rest.minutes"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
				</select>
				<span class="input-group-text">:</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer;"
					[(ngModel)]="exercise.rest.seconds"
					[ngModelOptions]="{standalone: true}"
				>
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text">Note</span>
				<input
					type="text"
					class="form-control"
					[(ngModel)]="exercise.note"
					[ngModelOptions]="{standalone: true}"
				>
			</div>

			<div class="d-flex align-items-center w-100">
				<button class="btn btn-sm w-100 me-1 add-btn text-light" style="border: none; background-color: #6b44d4;" [disabled]="!savable()" (click)="save()">Aggiungi</button>
				<button class="btn btn-sm btn-dark w-100 ms-1" (click)="closeDialog()">Annulla</button>
			</div>
		</form>
	</div>
</div>

<!-- <div style="padding: 20px; border-radius: 50px">
	<span class="custom-span" style="font-size: 1.4em; width: 100%">
		Nuovo Esercizio
	</span>
	<mat-divider style="margin-top: 10px; margin-bottom: 10px"></mat-divider>

	<div class="btn-group btn-group-sm mb-4" role="group" style="width: 100%">
		<input
			type="radio"
			class="btn-check"
			id="rd1"
			name="rd1"
			[(ngModel)]="exercise.configurationType"
			value="basic"
		/>
		<label class="btn btn-outline-dark" for="rd1">Base</label>

		<input
			type="radio"
			class="btn-check"
			id="rd2"
			name="rd2"
			value="advanced"
			[(ngModel)]="exercise.configurationType"
		/>
		<label class="btn btn-outline-dark" for="rd2">Avanzato</label>
	</div>

	<div class="input-group mb-3">
		<label
			class="input-group-text custom-span"
			style="width: 70px"
			for="inputGroupSelect01"
		>
			Esercizio
		</label>
		<select
			class="form-select custom-select"
			[ngStyle]="!isDesktop() && { 'font-size': '80%' }"
			style="box-shadow: none; font-family: 'Josefin Sans'"
			id="inputGroupSelect01"
			[(ngModel)]="exercise.name"
		>
			<option selected disabled value="">Seleziona un esercizio</option>
			<option *ngFor="let exercise of options" [value]="exercise">
				{{ exercise }}
			</option>
		</select>
		<button
			(click)="openCustomExerciseDialog()"
			class="btn btn-outline-secondary custom-button"
			type="button"
			id="button-addon2"
		>
			<i class="bi bi-plus-circle"></i>
			<span style="font-size: 0.8em; margin-left: 5px">Crea</span>
		</button>
	</div>

	<ng-container
		*ngIf="
			!exercise.configurationType ||
			exercise.configurationType === 'basic'
		"
	>
		<div class="input-group mb-3" style="color: rgb(69, 69, 188)">
			<span
				class="input-group-text custom-span"
				style="width: 70px"
				id="inputGroup-sizing-default"
			>
				Serie
			</span>
			<input
				type="number"
				class="form-control"
				style="
					box-shadow: none;
					font-family: 'Josefin Sans', sans-serif;
				"
				[(ngModel)]="this.exercise.series"
			/>
		</div>

		<div class="input-group mb-3" style="color: rgb(69, 69, 188)">
			<span
				class="input-group-text custom-span"
				style="width: 70px"
				id="inputGroup-sizing-default"
			>
				Min Reps
			</span>
			<input
				type="number"
				class="form-control"
				style="
					box-shadow: none;
					font-family: 'Josefin Sans', sans-serif;
				"
				[(ngModel)]="this.exercise.range[0]"
				[max]="this.exercise.range[1]"
			/>
			<span
				class="input-group-text custom-span"
				style="width: 70px"
				id="inputGroup-sizing-default"
			>
				Max Reps
			</span>
			<input
				type="number"
				class="form-control"
				style="
					box-shadow: none;
					font-family: 'Josefin Sans', sans-serif;
				"
				[(ngModel)]="this.exercise.range[1]"
				[min]="this.exercise.range[0]"
			/>
		</div>
	</ng-container>

	<ng-container *ngIf="exercise.configurationType === 'advanced'">
		<div
			class="input-group mb-1"
			style="color: rgb(69, 69, 188)"
			*ngFor="let set of exercise.advanced.sets; index as i"
		>
			<span
				class="input-group-text custom-span"
				style="width: 15px"
				id="inputGroup-sizing-default"
			>
				{{ i + 1 }}
			</span>
			<span
				class="input-group-text custom-span"
				[ngStyle]="isDesktop() ? { width: '70px' } : { width: '40px' }"
				id="inputGroup-sizing-default"
			>
				{{ isDesktop() ? "Min Reps" : "Min" }}
			</span>
			<input
				type="number"
				class="form-control"
				style="
					box-shadow: none;
					font-family: 'Josefin Sans', sans-serif;
				"
				[(ngModel)]="set.min"
				[max]="set.max"
			/>
			<span
				class="input-group-text custom-span"
				[ngStyle]="isDesktop() ? { width: '70px' } : { width: '40px' }"
				id="inputGroup-sizing-default"
			>
				{{ isDesktop() ? "Max Reps" : "Max" }}
			</span>
			<input
				type="number"
				class="form-control"
				style="
					box-shadow: none;
					font-family: 'Josefin Sans', sans-serif;
				"
				[(ngModel)]="set.max"
				[min]="set.min"
			/>

			<button
				class="btn custom-button"
				id="button-addon2"
				(click)="removeSet(i)"
			>
				<i class="bi bi-trash"></i>
			</button>
		</div>

		<div
			style="
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;
			"
			class="mb-3 mt-2"
		>
			<button
				class="btn btn-outline-secondary custom-button"
				type="button"
				id="button-addon2"
				(click)="addSet()"
			>
				Aggiungi Serie
			</button>
		</div>
	</ng-container>

	<div class="input-group mb-3" style="color: rgb(69, 69, 188)">
		<label
			class="input-group-text custom-span"
			for="inputGroupSelect01"
			style="width: 70px"
		>
			RPE
		</label>
		<select
			style="box-shadow: none; font-family: 'Josefin Sans', sans-serif"
			class="form-select custom-select"
			id="inputGroupSelect01"
			[(ngModel)]="this.exercise.RPE"
		>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</div>

	<div class="input-group mb-3">
		<label
			class="input-group-text custom-span"
			for="inputGroupSelect01"
			style="width: 70px"
		>
			Recupero
		</label>
		<select
			class="form-select custom-select"
			id="inputGroupSelect01"
			style="font-family: 'Josefin Sans', sans-serif"
			[(ngModel)]="this.exercise.rest.minutes"
		>
			<option value="00">00</option>
			<option value="01">01</option>
			<option value="02">02</option>
			<option value="03">03</option>
			<option value="04">04</option>
			<option value="05">05</option>
		</select>
		<label class="input-group-text" for="inputGroupSelect01">:</label>
		<select
			class="form-select custom-select"
			id="inputGroupSelect01"
			style="font-family: 'Josefin Sans', sans-serif"
			[(ngModel)]="this.exercise.rest.seconds"
		>
			<option value="00">00</option>
			<option value="15">15</option>
			<option value="30">30</option>
			<option value="45">45</option>
		</select>
	</div>

	<div class="input-group mb-3" style="color: rgb(69, 69, 188)">
		<span
			class="input-group-text custom-span"
			style="width: 70px"
			id="inputGroup-sizing-default"
		>
			Note
		</span>
		<input
			type="text"
			class="form-control"
			style="box-shadow: none; font-family: 'Josefin Sans', sans-serif"
			[(ngModel)]="this.exercise.note"
		/>
	</div>

	<div style="display: flex; justify-content: flex-end" (click)="save()">
		<button class="btn custom-button" [disabled]="!savable()">
			<i class="bi bi-check-circle-fill"></i>
			Save
		</button>
	</div>
</div>
 -->
