<div
	class="d-flex flex-column justify-content-center align-items-center overflow-hidden"
	style="max-height: 60svh; max-width: 95vw"
>
	<div class="overflow-auto p-3">
		<h1 class="text-center">
			{{ editMode ? "Modifica esercizio" : "Aggiungi esercizio" }}
		</h1>

		<form class="d-none d-lg-flex flex-column align-items-center">
			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text rounded-start-5">Esercizio</span>

				<select
					class="form-select"
					aria-label="Default select example"
					style="cursor: pointer"
					[(ngModel)]="exercise.name"
					[ngModelOptions]="{ standalone: true }"
				>
					<option *ngFor="let exercise of options" [value]="exercise">
						{{ exercise }}
					</option>
				</select>

				<button
					[ngClass]="{
						'btn rounded-end-5': true,
						'btn-dark': theme === 'light',
						'btn-light': theme === 'dark'
					}"
					type="button"
					(click)="openCustomExerciseDialog()"
				>
					Crea
					<i class="ms-1 bi bi-plus-lg"></i>
				</button>
			</div>

			<div
				*ngFor="let set of exercise.set; index as i"
				class="input-group flex-nowrap mb-3"
			>
				<span class="input-group-text rounded-start-5">
					{{ i + 1 }}
				</span>
				<span class="input-group-text">Min Reps</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.set[i].minimumReps"
					[min]="exercise.set[i].maximumReps"
					[ngModelOptions]="{ standalone: true }"
				/>
				<span class="input-group-text">Max Reps</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.set[i].maximumReps"
					[max]="exercise.set[i].minimumReps"
					[ngModelOptions]="{ standalone: true }"
				/>
				<button
					class="btn btn-danger rounded-end-5"
					(click)="removeSet(i)"
				>
					<i class="bi bi-trash3"></i>
				</button>
			</div>

			<button
				[ngClass]="{
					'btn w-100 mb-3 rounded-5': true,
					'btn-light': theme === 'dark',
					'btn-dark': theme === 'light'
				}"
				(click)="addSet()"
			>
				Aggiungi serie
				<i class="ms-1 bi bi-plus"></i>
			</button>

			<p class="text-center">Intensità (RPE)</p>

			<div
				[ngClass]="{
					'btn-group rounded-5 border d-flex justify-content-center mb-3 w-100': true,
					'bg-light': theme === 'light',
					'bg-dark': theme === 'dark'
				}"
				role="group"
				aria-label="Basic radio toggle button group"
			>
				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="light"
					autocomplete="off"
					[(ngModel)]="exercise.intensity"
					value="light"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-success': exercise.intensity === 'light'
					}"
					for="light"
				>
					Leggero
					<i class="ms-1 bi bi-feather"></i>
				</label>

				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="hard"
					autocomplete="off"
					checked
					[(ngModel)]="exercise.intensity"
					value="hard"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-warning text-light':
							exercise.intensity === 'hard'
					}"
					for="hard"
				>
					Pesante
					<i class="ms-1 bi bi-lightning-fill"></i>
				</label>

				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="failure"
					autocomplete="off"
					[(ngModel)]="exercise.intensity"
					value="failure"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-danger': exercise.intensity === 'failure'
					}"
					for="failure"
				>
					Cedimento
					<i class="ms-1 bi bi-fire"></i>
				</label>
			</div>

			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text rounded-start-5">Recupero</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer"
					[(ngModel)]="exercise.rest.minutes"
					[ngModelOptions]="{ standalone: true }"
				>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
				</select>
				<span class="input-group-text">:</span>
				<select
					class="form-select custom-select rounded-end-5"
					style="cursor: pointer"
					[(ngModel)]="exercise.rest.seconds"
					[ngModelOptions]="{ standalone: true }"
				>
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>
			</div>

			<div class="input-group flex-nowrap mb-3">
				<span class="input-group-text rounded-start-5">Note</span>
				<input
					type="text"
					class="form-control rounded-end-5"
					[(ngModel)]="exercise.note"
					[ngModelOptions]="{ standalone: true }"
				/>
			</div>

			<div class="d-flex align-items-center w-100">
				<button
					class="btn w-100 me-2 purple-btn rounded-5"
					[disabled]="!savable()"
					(click)="save()"
				>
					{{ editMode ? "Modifica" : "Aggiungi" }}
				</button>
				<button
					[ngClass]="{
						'btn btn-dark w-100 ms-2 rounded-5': true,
						'btn-light': theme === 'dark',
						'btn-dark': theme === 'light'
					}"
					(click)="closeDialog()"
				>
					Annulla
				</button>
			</div>
		</form>

		<!-- Mobile -->
		<form class="d-flex flex-column align-items-center d-lg-none">
			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text rounded-start-4">Esercizio</span>

				<select
					class="form-select"
					aria-label="Default select example"
					style="cursor: pointer"
					[(ngModel)]="exercise.name"
					[ngModelOptions]="{ standalone: true }"
				>
					<option *ngFor="let exercise of options" [value]="exercise">
						{{ exercise }}
					</option>
				</select>

				<button
					[ngClass]="{
						'btn rounded-end-4': true,
						'btn-dark': theme === 'light',
						'btn-light': theme === 'dark'
					}"
					type="button"
					(click)="openCustomExerciseDialog()"
				>
					<i class="bi bi-plus-lg"></i>
				</button>
			</div>

			<div
				*ngFor="let set of exercise.set; index as i"
				class="input-group input-group-sm flex-nowrap mb-3"
			>
				<span class="input-group-text rounded-start-4">
					{{ i + 1 }}
				</span>
				<span class="input-group-text">Min</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.set[i].minimumReps"
					[min]="exercise.set[i].maximumReps"
					[ngModelOptions]="{ standalone: true }"
				/>
				<span class="input-group-text">Max</span>
				<input
					type="number"
					class="form-control"
					[(ngModel)]="exercise.set[i].maximumReps"
					[max]="exercise.set[i].minimumReps"
					[ngModelOptions]="{ standalone: true }"
				/>
				<button
					class="btn btn-danger rounded-end-4"
					(click)="removeSet(i)"
				>
					<i class="bi bi-trash3"></i>
				</button>
			</div>

			<button
				[ngClass]="{
					'btn btn-sm w-100 mb-3 rounded-5': true,
					'btn-light': theme === 'dark',
					'btn-dark': theme === 'light'
				}"
				(click)="addSet()"
			>
				Aggiungi serie
				<i class="ms-1 bi bi-plus"></i>
			</button>

			<p class="text-center">Intensità (RPE)</p>

			<div
				[ngClass]="{
					'btn-group btn-group-sm rounded-5 border d-flex justify-content-center mb-3 w-100': true,
					'bg-light': theme === 'light',
					'bg-dark': theme === 'dark'
				}"
				role="group"
				aria-label="Basic radio toggle button group"
			>
				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="light"
					autocomplete="off"
					[(ngModel)]="exercise.intensity"
					value="light"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-success': exercise.intensity === 'light'
					}"
					for="light"
				>
					<i class="bi bi-feather"></i>
				</label>

				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="hard"
					autocomplete="off"
					checked
					[(ngModel)]="exercise.intensity"
					value="hard"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-warning text-light':
							exercise.intensity === 'hard'
					}"
					for="hard"
				>
					<i class="bi bi-lightning-fill"></i>
				</label>

				<input
					type="radio"
					class="btn-check"
					name="btnradio"
					id="failure"
					autocomplete="off"
					[(ngModel)]="exercise.intensity"
					value="failure"
				/>
				<label
					[ngClass]="{
						'btn border border-0 m-1 rounded-5': true,
						'btn-outline-danger': exercise.intensity === 'failure'
					}"
					for="failure"
				>
					<i class="bi bi-fire"></i>
				</label>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text rounded-start-4">
					<i class="bi bi-stopwatch-fill"></i>
				</span>
				<select
					class="form-select custom-select"
					style="cursor: pointer"
					[(ngModel)]="exercise.rest.minutes"
					[ngModelOptions]="{ standalone: true }"
				>
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
				</select>
				<span class="input-group-text">:</span>
				<select
					class="form-select custom-select rounded-end-4"
					style="cursor: pointer"
					[(ngModel)]="exercise.rest.seconds"
					[ngModelOptions]="{ standalone: true }"
				>
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>
			</div>

			<div class="input-group input-group-sm flex-nowrap mb-3">
				<span class="input-group-text rounded-start-4">Note</span>
				<input
					type="text"
					class="form-control rounded-end-4"
					[(ngModel)]="exercise.note"
					[ngModelOptions]="{ standalone: true }"
				/>
			</div>

			<div class="d-flex align-items-center w-100">
				<button
					class="btn btn-sm w-100 me-1 purple-btn rounded-5"
					[disabled]="!savable()"
					(click)="save()"
				>
					{{ editMode ? "Modifica" : "Aggiungi" }}
				</button>

				<button
					[ngClass]="{
						'btn btn-sm w-100 ms-1 rounded-5': true,
						'btn-light': theme === 'dark',
						'btn-dark': theme === 'light'
					}"
					(click)="closeDialog()"
				>
					Annulla
				</button>
			</div>
		</form>
	</div>
</div>
