<mat-progress-bar
	mode="indeterminate"
	*ngIf="this.loading"
	color="primary"
></mat-progress-bar>
<div id="training-programs-container">
	<div id="title-container">
		<h1>
			<span class="title">Le tue schede di allenamento</span>
		</h1>
		<span
			id="secondary-title"
			*ngIf="this.trainingPrograms.length == 0 && !this.loading"
		>
			Non ci sono schede, creane una nuova!
		</span>
	</div>

	<div style="display: flex; flex-direction: row; margin-bottom: 30px">
		<button
			class="btn btn-primary custom-button"
			style="margin-right: 10px"
			color="primary"
			(click)="buildTrainingProgramButton()"
		>
			<i class="bi bi-plus-circle-fill"></i>
			Nuova Scheda
		</button>
		<button
			class="btn btn-outline-dark custom-button"
			(click)="backToHomeButton()"
		>
			<i class="bi bi-house-fill"></i>
			Home
		</button>
	</div>

	<mat-accordion>
		<mat-expansion-panel
			hideToggle
			*ngFor="
				let trainingProgram of this.trainingPrograms;
				index as trainingProgramIndex
			"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>
					<span id="training-program-name">
						{{ trainingProgram.name }}
					</span>
				</mat-panel-title>
				<mat-panel-description>
					Numero di sessioni: {{ trainingProgram.session.length }}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<section
				*ngFor="
					let session of trainingProgram.session;
					index as sessionIndex
				"
			>
				<h2>
					<span class="title">{{ session.name }}</span>
				</h2>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">
								<span class="table-header">Esercizio</span>
							</th>
							<th scope="col">
								<span class="table-header">
									Serie-Ripetizioni
								</span>
							</th>
							<th scope="col">
								<span class="table-header">RPE</span>
							</th>
							<th scope="col">
								<span class="table-header">Riposo</span>
							</th>
							<th scope="col">
								<span class="table-header">Note</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="
								let exercise of session.exercises;
								index as exerciseIndex
							"
						>
							<th scope="row">{{ exercise.name }}</th>
							<td>
								{{
									exercise.series > 0
										? exercise.series +
										  "x" +
										  (exercise.range &&
										  exercise.range[0] != exercise.range[1]
												? exercise.range[0] +
												  "-" +
												  exercise.range[1]
												: exercise.reps
												? exercise.reps
												: exercise.range[0])
										: "/"
								}}
							</td>
							<td>{{ exercise.RPE }}</td>
							<td>
								{{
									exercise.rest
										? exercise.rest.minutes +
										  ":" +
										  exercise.rest.seconds
										: exercise.restTime
										? exercise.restTime
										: "/"
								}}
							</td>
							<td>
								<i
									*ngIf="exercise.note && exercise.note != ''"
									class="bi bi-question-circle-fill"
									style="cursor: pointer"
									(click)="
										showNotes(
											trainingProgramIndex,
											sessionIndex,
											exerciseIndex
										)
									"
								></i>
							</td>
						</tr>
					</tbody>
				</table>

				<mat-divider id="divider"></mat-divider>
			</section>

			<div
				style="
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
				"
			>
				<button
					class="btn btn-outline-dark custom-button"
					style="margin-right: 10px"
					(click)="editTrainingProgram(trainingProgramIndex)"
				>
					<i class="bi bi-pencil-fill"></i>
					Modifica
				</button>
				<button
					class="btn btn-outline-danger"
					color="warn"
					style="font-family: 'Josefin Sans', sans-serif"
					(click)="removeTrainingProgram(trainingProgramIndex)"
				>
					<i class="bi bi-trash-fill"></i>
					Elimina
				</button>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
</div>
