#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

.back-btn:hover {
	background-color: #785ebe !important;
}

.back-btn:active {
	background-color: #957dd6 !important;
	border: #957dd6 !important;
	outline: #957dd6 !important;
}

.edit-btn:hover {
	background-color: #659fd2 !important;
}

.edit-btn:active {
	background-color: #7eafda !important;
	border: #7eafda !important;
	outline: #7eafda !important;
}

@media (max-width: 900px) {
	#main-container {
		width: 100% !important;
	}

	.table {
		font-size: 10px;
		white-space: nowrap;
	}

	.mobile-btn {
		font-size: 12px;
	}
}

@media (max-width: 300px) {
	.table {
		font-size: 8px;
	}

	.mobile-btn {
		font-size: 10px;
	}
}
