<div
	class="d-flex flex-column align-items-center p-3 overflow-auto"
	style="min-width: 220px; width: auto; max-width: 800px; max-height: 60svh"
>
	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-lightbulb-fill me-1"></i>
			Nuove features
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Dark Mode</li>
			<li>Notifica alla fine del tempo di recupero</li>
			<li>Inserimento di reps e carichi su più set alla volta</li>
		</ul>
	</div>

	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-magic me-1"></i>
			Migliorie
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Migliorato il drag&drop</li>
			<li>Migliorata la user experience</li>
		</ul>
	</div>

	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-bug-fill me-1"></i>
			Bug fixes
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Risolti i problemi legati al drag&drop</li>
		</ul>
	</div>
</div>
