<div
	class="d-flex flex-column align-items-center p-3 overflow-auto"
	style="min-width: 220px; width: auto; max-width: 800px; max-height: 60svh"
>
	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-lightbulb-fill me-1"></i>
			Nuove features
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Drag&Drop degli esercizi durante un allenamento</li>
			<li>Drag&Drop degli esercizi di una scheda</li>
			<li>Paginazione dei vecchi allenamenti</li>
			<li>Visualizzazione della scheda durante il workout tramite il pulsante apposito</li>
			<li>Pulsante di "scarico". Setta tutti gli esercizi ad intensità leggera</li>
		</ul>
	</div>

	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-magic me-1"></i>
			Migliorie
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Scelta della metodologia di creazione dell'allenamento in un'unica pagina restilizzata</li>
			<li>Restyle della pagina Impostazioni, trasformata in Profilo</li>
			<li>Restyle grafico di alcuni pulsanti</li>
			<li>Obbligatorio accettare la Privacy Policy</li>
			<li>Visualizzazione dell'intensità nel pop-up dello storico</li>
		</ul>
	</div>

	<div class="w-100 d-flex flex-column justify-content-center">
		<h5>
			<i class="bi bi-bug-fill me-1"></i>
			Bug fixes
		</h5>

		<ul class="text-secondary fs-italic">
			<li>Overflow del testo nelle tabelle</li>
			<li>Gap tra la parte inferiore della navbar e il resto dell'app</li>
		</ul>
	</div>
</div>
