<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div *ngIf="!loading" id="wrapper">
	<div id="main-container" class="p-3">
		<h1 class="text-center mt-3">{{ (editMode ? 'Modifica' : 'Crea') + ' allenamento' }}</h1>

		<div class="d-flex flex-column align-items-center">
			<div class="d-flex justify-content-center align-items-center">
				<button
					type="button"
					class="btn btn-dark me-2 d-none d-lg-flex"
					routerLink="/home/dashboard"
				>
					<i class="me-1 bi bi-house-fill"></i>
					Home
				</button>
				<button
					type="button"
					class="btn btn-sm btn-dark me-2 d-flex d-lg-none"
					routerLink="/home/dashboard"
				>
					<i class="bi bi-house-fill"></i>
				</button>

				<div
					class="d-flex flex-column w-50 mx-2 mb-3 mt-2 input-container"
				>
					<p class="mb-0 text-center">Allenamento</p>
					<input
						type="text"
						class="border-0 border-bottom py-1"
						style="background-color: transparent"
						[(ngModel)]="workout.name"
						[ngModelOptions]="{ standalone: true }"
					/>
				</div>

				<button
					type="button"
					class="btn text-light purple-btn ms-2 d-none d-lg-flex"
					[disabled]="!savable() && !editMode"
					(click)="saveWorkout()"
				>
					Salva
					<i class="ms-1 bi bi-check"></i>
				</button>
				<button
					type="button"
					class="btn purple-btn btn-sm text-light ms-2 d-flex d-lg-none"
					[disabled]="!savable() && !editMode"
					(click)="saveWorkout()"
				>
					<i class="bi bi-check"></i>
				</button>
			</div>

			<div class="mb-3">
				<div class="input-group flex-nowrap mb-4">
					<span class="input-group-text">Data</span>
					<input
						type="date"
						class="form-control"
						aria-describedby="addon-wrapping"
						id="date-picker"
						[(ngModel)]="date"
						[ngModelOptions]="{ standalone: true }"
					/>
				</div>

				<!-- Spotify -->
				<a
					[href]="playlistUrl"
					target="_blank"
					*ngIf="playlistUrl && !editMode"
					class="btn d-none d-lg-block w-100 mb-4 text-light"
					style="background-color: #1ed760"
				>
					<i class="me-1 bi bi-spotify"></i>
					Spotify
				</a>

				<a
					[href]="playlistUrl"
					target="_blank"
					*ngIf="playlistUrl && !editMode"
					class="btn btn-sm d-block d-lg-none w-100 mb-3 text-light"
					style="background-color: #1ed760"
				>
					<i class="me-1 bi bi-spotify"></i>
					Spotify
				</a>

				<div class="align-items-center d-none d-lg-flex">
					<button
						class="btn btn-dark w-100 me-2"
						(click)="addExercise()"
					>
						Esercizio
						<i class="bi bi-plus"></i>
					</button>

					<button class="btn btn-danger w-100" (click)="onCancel()">
						Annulla
					</button>
				</div>

				<!--Mobile-->
				<div class="flex-column align-items-center d-flex d-lg-none">
					<button
						class="btn btn-sm btn-dark w-100 mb-3"
						(click)="addExercise()"
					>
						Aggiungi esercizio
						<i class="bi bi-plus"></i>
					</button>

					<button
						class="btn btn-sm btn-danger w-100"
						(click)="onCancel()"
					>
						Annulla
					</button>
				</div>
			</div>
		</div>

		<div
			*ngFor="
				let exercise of this.workout.exercises;
				index as exerciseIndex
			"
			class="w-100 mb-2"
		>
			<a
				[href]="'#exercise' + exerciseIndex"
				class="btn btn-light w-100 mb-1 border exercise-collapser collapser d-flex justify-content-between align-items-center mobile-btn"
				data-bs-toggle="collapse"
				role="button"
				aria-expanded="false"
				aria-controls="collapseExample"
			>
				<p class="mb-0">
					{{
						exercise.name !== "" ? exercise.name : "Nuovo Esercizio"
					}}
				</p>
			</a>

			<div
				class="collapse w-100 exercise-collapse-body collapse-body"
				[id]="'exercise' + exerciseIndex"
			>
				<div class="card card-body p-1">
					<div
						class="d-flex flex-column justify-content-center align-items-center"
					>
						<div class="p-3 w-100 collapse-container">
							<form
								class="d-none d-lg-flex flex-column align-items-center"
							>
								<div class="input-group flex-nowrap mb-3">
									<span class="input-group-text">
										Esercizio
									</span>

									<select
										class="form-select"
										aria-label="Default select example"
										style="cursor: pointer"
										[(ngModel)]="exercise.name"
										[ngModelOptions]="{ standalone: true }"
									>
										<option [value]="exercise.name">
											{{ exercise.name }}
										</option>
										<option
											*ngFor="
												let exercise of availableExercise
											"
											[value]="exercise"
										>
											{{ exercise }}
										</option>
									</select>

									<button
										class="btn btn-dark"
										type="button"
										(click)="
											openCustomExerciseDialog(
												exerciseIndex
											)
										"
									>
										Crea
										<i class="ms-1 bi bi-plus-lg"></i>
									</button>
								</div>

								<div
									*ngIf="exercise.set.length !== 0"
									class="d-flex align-items-center w-100"
								>
									<div class="input-group flex-nowrap me-2">
										<input
											type="number"
											class="form-control w-100 border-0"
											placeholder="Reps"
											style="pointer-events: none"
										/>
										<input
											type="number"
											class="form-control w-100 border-0"
											placeholder="Carico"
											style="pointer-events: none"
										/>
									</div>

									<div
										class="d-flex align-items-center opacity-0"
									>
										<button
											class="btn btn-sm blue-btn text-light me-1 rounded-5 py-1 px-2"
											disabled
											style="pointer-events: none"
										>
											<i class="bi bi-check"></i>
										</button>

										<button
											class="btn btn-sm btn-danger rounded-5 py-1 px-2"
											disabled
											style="pointer-events: none"
										>
											<i class="bi bi-trash3"></i>
										</button>
									</div>
								</div>

								<div
									*ngFor="
										let set of exercise.set;
										index as setIndex
									"
									class="d-flex align-items-center w-100 mb-3"
								>
									<div
										class="input-group flex-nowrap me-2 w-100"
									>
										<div
											class="input-group flex-nowrap d-flex align-items-center w-50"
										>
											<input
												(input)="
													filterRepsInput($event)
												"
												[disabled]="
													workoutProgress.completed[
														exerciseIndex
													][setIndex]
												"
												type="text"
												[ngClass]="{
													'form-control': true,
													'rounded-start-5':
														exercise.template &&
														setIndex <
															exercise.template
																.length,
													'rounded-5 me-2':
														!exercise.template ||
														(exercise.template &&
															!(
																setIndex <
																exercise
																	.template
																	.length
															))
												}"
												[(ngModel)]="
													exercise.set[setIndex].reps
												"
												[min]="0"
												[ngModelOptions]="{
													standalone: true
												}"
											/>
											<span
												*ngIf="
													exercise.template &&
													setIndex <
														exercise.template.length
												"
												class="input-group-text rounded-end-5 me-2"
											>
												{{
													exercise.template[setIndex]
														.minimumReps ===
													exercise.template[setIndex]
														.maximumReps
														? exercise.template[
																setIndex
														  ].minimumReps
														: exercise.template[
																setIndex
														  ].minimumReps +
														  "-" +
														  exercise.template[
																setIndex
														  ].maximumReps
												}}
											</span>
										</div>
										<div
											class="input-group flex-nowrap d-flex align-items-center w-50"
										>
											<input
												(input)="
													filterLoadInput($event)
												"
												[disabled]="
													workoutProgress.completed[
														exerciseIndex
													][setIndex]
												"
												type="text"
												class="form-control rounded-start-5"
												[(ngModel)]="
													exercise.set[setIndex].load
												"
												[min]="0"
												[ngModelOptions]="{
													standalone: true
												}"
											/>
											<span
												class="input-group-text rounded-end-5"
											>
												Kg
											</span>
										</div>
									</div>

									<div class="d-flex align-items-center">
										<button
											[disabled]="
												!isSetValid(
													exerciseIndex,
													setIndex
												)
											"
											*ngIf="
												!workoutProgress.completed[
													exerciseIndex
												][setIndex] && !editMode
											"
											class="btn blue-btn text-light me-1 rounded-5 py-1 px-2"
											(click)="
												toggleCompleted(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-check"></i>
										</button>

										<button
											*ngIf="
												workoutProgress.completed[
													exerciseIndex
												][setIndex]
											"
											class="btn btn-dark text-light me-1 rounded-5 py-1 px-2"
											(click)="
												toggleCompleted(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-pencil-square"></i>
										</button>

										<button
											class="btn btn-danger rounded-5 py-1 px-2"
											(click)="
												deleteSet(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-trash3"></i>
										</button>
									</div>
								</div>

								<button
									class="btn btn-dark w-100 mb-3"
									(click)="addSet(exerciseIndex)"
								>
									Aggiungi serie
									<i class="ms-1 bi bi-plus"></i>
								</button>

								<p class="text-center">Intensità (RPE)</p>

								<div
									class="btn-group d-flex justify-content-center mb-3 w-100"
									role="group"
									aria-label="Basic radio toggle button group"
								>
									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio1"
										autocomplete="off"
										[(ngModel)]="exercise.intensity"
										value="light"
									/>
									<label
										[ngClass]="{
											'btn border': true,
											'btn-success':
												exercise.intensity === 'light'
										}"
										for="btnradio1"
									>
										Leggero
										<i class="ms-1 bi bi-feather"></i>
									</label>

									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio2"
										autocomplete="off"
										checked
										[(ngModel)]="exercise.intensity"
										value="hard"
									/>
									<label
										[ngClass]="{
											'btn border': true,
											'btn-warning':
												exercise.intensity === 'hard'
										}"
										for="btnradio2"
									>
										Pesante
										<i
											class="ms-1 bi bi-exclamation-triangle-fill"
										></i>
									</label>

									<input
										type="radio"
										class="btn-check"
										name="btnradio"
										id="btnradio3"
										autocomplete="off"
										[(ngModel)]="exercise.intensity"
										value="failure"
									/>
									<label
										[ngClass]="{
											'btn border': true,
											'btn-danger':
												exercise.intensity === 'failure'
										}"
										for="btnradio3"
									>
										Cedimento
										<i class="ms-1 bi bi-fire"></i>
									</label>
								</div>

								<div class="input-group flex-nowrap mb-3">
									<span class="input-group-text">
										Recupero
									</span>
									<select
										class="form-select custom-select"
										style="cursor: pointer"
										[(ngModel)]="exercise.rest.minutes"
										[ngModelOptions]="{ standalone: true }"
									>
										<option value="00">00</option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
									</select>
									<span class="input-group-text">:</span>
									<select
										class="form-select custom-select"
										style="cursor: pointer"
										[(ngModel)]="exercise.rest.seconds"
										[ngModelOptions]="{ standalone: true }"
									>
										<option value="00">00</option>
										<option value="15">15</option>
										<option value="30">30</option>
										<option value="45">45</option>
									</select>
								</div>

								<div class="input-group flex-nowrap mb-3">
									<span class="input-group-text">Note</span>
									<input
										type="text"
										class="form-control"
										[(ngModel)]="exercise.note"
										[ngModelOptions]="{ standalone: true }"
									/>
								</div>

								<div class="d-flex align-items-center w-100">
									<button
										class="btn purple-btn text-light me-2 w-100 rounded-5"
										(click)="showOldStats(exerciseIndex)"
									>
										Storico
										<i class="ms-1 bi bi-journal-text"></i>
									</button>
									<button
										class="btn btn-danger w-100 rounded-5"
										(click)="delete(exerciseIndex)"
									>
										Elimina
										<i class="ms-1 bi bi-trash3"></i>
									</button>
								</div>
							</form>

							<!-- Mobile -->
							<form
								class="d-flex flex-column align-items-center d-lg-none"
							>
								<div
									class="input-group input-group-sm flex-nowrap mb-3"
								>
									<span class="input-group-text">
										Esercizio
									</span>

									<select
										class="form-select"
										aria-label="Default select example"
										style="cursor: pointer"
										[(ngModel)]="exercise.name"
										[ngModelOptions]="{ standalone: true }"
									>
										<option
											*ngFor="
												let exercise of availableExercise
											"
											[value]="exercise"
										>
											{{ exercise }}
										</option>
									</select>

									<button
										class="btn btn-dark"
										type="button"
										(click)="
											openCustomExerciseDialog(
												exerciseIndex
											)
										"
									>
										<i class="bi bi-plus-lg"></i>
									</button>
								</div>

								<div
									*ngIf="exercise.set.length !== 0"
									class="d-flex align-items-center w-100"
								>
									<div
										class="input-group input-group-sm flex-nowrap me-2"
									>
										<input
											type="number"
											class="form-control w-100 border-0"
											placeholder="Reps"
											style="pointer-events: none"
										/>
										<input
											type="number"
											class="form-control w-100 border-0"
											placeholder="Carico"
											style="pointer-events: none"
										/>
									</div>

									<div
										class="d-flex align-items-center opacity-0"
									>
										<button
											class="btn btn-sm blue-btn text-light me-1 rounded-5 py-1 px-2"
											disabled
											style="pointer-events: none"
										>
											<i class="bi bi-check"></i>
										</button>

										<button
											class="btn btn-sm btn-danger rounded-5 py-1 px-2"
											disabled
											style="pointer-events: none"
										>
											<i class="bi bi-trash3"></i>
										</button>
									</div>
								</div>

								<div
									*ngFor="
										let set of exercise.set;
										index as setIndex
									"
									class="d-flex align-items-center w-100 mb-3"
								>
									<div
										class="input-group input-group-sm flex-nowrap me-2"
									>
										<div
											class="input-group input-group-sm flex-nowrap d-flex align-items-center w-50"
										>
											<input
												(input)="
													filterRepsInput($event)
												"
												[disabled]="
													workoutProgress.completed[
														exerciseIndex
													][setIndex]
												"
												type="text"
												[ngClass]="{
													'form-control': true,
													'rounded-start-5':
														exercise.template &&
														setIndex <
															exercise.template
																.length,
													'rounded-5 me-2':
														!exercise.template ||
														(exercise.template &&
															!(
																setIndex <
																exercise
																	.template
																	.length
															))
												}"
												[(ngModel)]="
													exercise.set[setIndex].reps
												"
												[min]="0"
												[ngModelOptions]="{
													standalone: true
												}"
											/>
											<span
												*ngIf="
													exercise.template &&
													setIndex <
														exercise.template.length
												"
												class="input-group-text rounded-end-5 me-2"
											>
												{{
													exercise.template[setIndex]
														.minimumReps ===
													exercise.template[setIndex]
														.maximumReps
														? exercise.template[
																setIndex
														  ].minimumReps
														: exercise.template[
																setIndex
														  ].minimumReps +
														  "-" +
														  exercise.template[
																setIndex
														  ].maximumReps
												}}
											</span>
										</div>
										<div
											class="input-group input-group-sm flex-nowrap d-flex align-items-center w-50"
										>
											<input
												(input)="
													filterLoadInput($event)
												"
												[disabled]="
													workoutProgress.completed[
														exerciseIndex
													][setIndex]
												"
												type="text"
												class="form-control rounded-start-5"
												[(ngModel)]="
													exercise.set[setIndex].load
												"
												[min]="0"
												[ngModelOptions]="{
													standalone: true
												}"
											/>
											<span
												class="input-group-text rounded-end-5"
											>
												Kg
											</span>
										</div>
									</div>

									<div class="d-flex align-items-center">
										<button
											[disabled]="
												!isSetValid(
													exerciseIndex,
													setIndex
												)
											"
											*ngIf="
												!workoutProgress.completed[
													exerciseIndex
												][setIndex] && !editMode
											"
											class="btn btn-sm blue-btn text-light me-1 rounded-5 py-1 px-2"
											(click)="
												toggleCompleted(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-check"></i>
										</button>

										<button
											*ngIf="
												workoutProgress.completed[
													exerciseIndex
												][setIndex]
											"
											class="btn btn-sm btn-dark text-light me-1 rounded-5 py-1 px-2"
											(click)="
												toggleCompleted(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-pencil-square"></i>
										</button>

										<button
											class="btn btn-sm btn-danger rounded-5 py-1 px-2"
											(click)="
												deleteSet(
													exerciseIndex,
													setIndex
												)
											"
										>
											<i class="bi bi-trash3"></i>
										</button>
									</div>
								</div>

								<button
									class="btn btn-sm btn-dark w-100 mb-3"
									(click)="addSet(exerciseIndex)"
								>
									Aggiungi serie
									<i class="ms-1 bi bi-plus"></i>
								</button>

								<div
									class="input-group input-group-sm flex-nowrap mb-3"
								>
									<span class="input-group-text">
										Intensità
									</span>
									<select
										class="form-select custom-select"
										style="cursor: pointer"
										[(ngModel)]="exercise.intensity"
										[ngModelOptions]="{ standalone: true }"
									>
										<option value="light">Leggero</option>
										<option value="hard" selected>
											Pesante
										</option>
										<option value="failure">
											Cedimento
										</option>
									</select>
								</div>

								<div
									class="input-group input-group-sm flex-nowrap mb-3"
								>
									<span class="input-group-text">
										<i class="bi bi-stopwatch-fill"></i>
									</span>
									<select
										class="form-select custom-select"
										style="cursor: pointer"
										[(ngModel)]="exercise.rest.minutes"
										[ngModelOptions]="{ standalone: true }"
									>
										<option value="00">00</option>
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
									</select>
									<span class="input-group-text">:</span>
									<select
										class="form-select custom-select"
										style="cursor: pointer"
										[(ngModel)]="exercise.rest.seconds"
										[ngModelOptions]="{ standalone: true }"
									>
										<option value="00">00</option>
										<option value="15">15</option>
										<option value="30">30</option>
										<option value="45">45</option>
									</select>
								</div>

								<div
									class="input-group input-group-sm flex-nowrap mb-3"
								>
									<span class="input-group-text">Note</span>
									<input
										type="text"
										class="form-control"
										[(ngModel)]="exercise.note"
										[ngModelOptions]="{ standalone: true }"
									/>
								</div>

								<div class="d-flex align-items-center w-100">
									<button
										class="btn btn-sm purple-btn text-light me-2 w-100 rounded-5"
										(click)="showOldStats(exerciseIndex)"
									>
										<i class="bi bi-journal-text"></i>
									</button>
									<button
										class="btn btn-sm btn-danger w-100 rounded-5"
										(click)="delete(exerciseIndex)"
									>
										<i class="bi bi-trash3"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
