#wrapper {
	width: 100vw;
	height: calc(100svh - 66px);
	transform: translateY(66px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
}

input:focus {
	outline: none;
	box-shadow: none;
}

#date-picker {
	cursor: pointer;
}

#date-picker::-webkit-inner-spin-button,
#date-picker::-webkit-calendar-picker-indicator {
	cursor: pointer;
}

.purple-btn {
	border: none;
	background-color: #6b44d4;
}

.purple-btn:hover {
	background-color: #785ebe !important;
}

.purple-btn:active {
	background-color: #957dd6 !important;
}

.blue-btn {
	border: none;
	background-color: #4089c9;
}

.blue-btn:hover {
	background-color: #659fd2 !important;
}

.blue-btn:active {
	background-color: #7eafda !important;
}

@media (min-width: 900px) {
	#main-container {
		width: 75%;
	}
}

@media (max-width: 900px) {
	#main-container {
		width: 100%;
	}

	.mobile-btn {
		font-size: 12px;
	}
}

@media (max-width: 400px) {
	.collapse-container {
		padding: 5px !important;
	}
}
