<div id="wrapper" *ngIf="!loading">
	<div id="main-container" class="p-3">
		<h1 class="my-3 text-center">
			Admin
			<i class="ms-1 bi bi-shield-lock-fill"></i>
		</h1>

		<div class="mb-3 d-none d-lg-block">
			<button
				class="btn purple-btn text-light me-3"
				(click)="addExercise()"
			>
				Aggiungi un esercizio
				<i class="ms-1 bi bi-plus"></i>
			</button>

			<button
				class="btn btn-dark text-light"
				routerLink="/home/dashboard"
			>
				Torna alla home
				<i class="ms-1 bi bi-house-fill"></i>
			</button>
		</div>

		<div class="mb-3 d-block d-lg-none">
			<button
				class="btn btn-sm purple-btn text-light me-3"
				(click)="addExercise()"
			>
				Esercizio
				<i class="ms-1 bi bi-plus"></i>
			</button>

			<button
				class="btn btn-sm btn-dark text-light"
				routerLink="/home/dashboard"
			>
				Home
				<i class="ms-1 bi bi-house-fill"></i>
			</button>
		</div>

		<div class="feedback-list w-75">
			<app-feedback-list></app-feedback-list>
		</div>
	</div>
</div>

<!-- <mat-progress-bar
	mode="indeterminate"
	*ngIf="this.loading"
	color="primary"
></mat-progress-bar>
<div id="admin-page-container">
	<div id="title-container">
		<h1><span id="title">GymBro admin</span></h1>
	</div>

	<ng-container *ngIf="!this.loading">
		<ng-container *ngIf="!isAdmin(); else userIsAdmin">
			<h2>
				<span>
					Per utilizzare questa pagina devi essere un'admin. Esegui
					l'accesso con un account admin
				</span>
			</h2>

			<form
				#adminLoginForm="ngForm"
				(ngSubmit)="changeAccount(adminLoginForm)"
			>
				<div id="input-container">
					<mat-form-field appearance="outline">
						<mat-label>Email</mat-label>
						<input
							matInput
							type="email"
							name="email"
							required
							ngModel
						/>
					</mat-form-field>

					<mat-form-field appearance="outline">
						<mat-label>password</mat-label>
						<input
							matInput
							type="password"
							name="password"
							required
							ngModel
						/>
					</mat-form-field>

					<button
						mat-raised-button
						color="primary"
						[disabled]="!adminLoginForm.valid"
					>
						Accedi
					</button>
				</div>
			</form>
		</ng-container>

		<ng-template #userIsAdmin>
			<div id="add-exercise-button-container">
				<button
					mat-raised-button
					color="primary"
					(click)="addExercise()"
				>
					Aggiungi un esercizio
				</button>
			</div>

			<div id="feedback-container">
				<app-feedback-list></app-feedback-list>
			</div>
		</ng-template>
	</ng-container>
</div>
 -->
