#wrapper {
	width: 100vw;
	height: 100svh;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

.purple-btn {
	border: none;
	background-color: #6b44d4;
}

.purple-btn:hover {
	background-color: #785ebe !important;
}

.purple-btn:active {
	background-color: #957dd6 !important;
}

@media (max-width: 900px) {
	.feedback-list {
		width: 100% !important;
	}
}
