mat-card {
	margin-top: 10px;
}

mat-card-actions {
	display: flex;
	justify-content: flex-end;
}

#info-text {
	font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
	color:rgb(69, 69, 188);
}

#info-container {
	display: flex;
	justify-content: center;
}
