<nav class="navbar fixed-top bg-body-tertiary shadow" style="z-index: 1">
	<div class="container-fluid">
		<a
			class="navbar-brand m-0"
			(click)="goToHome()"
			style="cursor: pointer"
		>
			<img id="logo" src="assets/logo.png" alt="Bootstrap" width="70" />
		</a>

		<div class="d-flex">
			<button
				*ngIf="inTraining"
				(click)="toContinueWorkout()"
				class="blue-btn text-light btn rounded-5 d-lg-flex d-none justify-content-between"
				style="width: 115px; border: none; background-color: #4089c9"
			>
				<i class="bi bi-stopwatch me-2"></i>
				<p class="text-start m-0 w-100">
					{{ trainingTime | date : "HH:mm:ss" }}
				</p>
			</button>

			<button
				*ngIf="inTraining"
				(click)="toContinueWorkout()"
				class="blue-btn btn-sm text-light btn rounded-5 d-flex d-lg-none justify-content-between"
				style="width: 90px; border: none; background-color: #4089c9"
			>
				<i class="bi bi-stopwatch me-2"></i>
				<p class="text-start m-0 w-100">
					{{ trainingTime | date : "HH:mm:ss" }}
				</p>
			</button>

			<button
				*ngIf="inRest"
				(click)="toContinueWorkout()"
				class="btn-warning text-light btn rounded-5 d-lg-flex d-none justify-content-between"
				style="width: 115px;"
			>
				<i class="bi bi-hourglass-split me-2"></i>
				<p class="text-start m-0 w-100">
					{{ restTime | date : "HH:mm:ss" }}
				</p>
			</button>

			<button
				*ngIf="inRest"
				(click)="toContinueWorkout()"
				class="btn-warning btn-sm text-light btn rounded-5 d-flex d-lg-none justify-content-between"
				style="width: 90px;"
			>
				<i class="bi bi-hourglass-split me-2"></i>
				<p class="text-start m-0 w-100">
					{{ restTime | date : "HH:mm:ss" }}
				</p>
			</button>

			<a
				*ngIf="playlistUrl && (inTraining || inRest)"
				[href]="playlistUrl"
				target="_blank"
				class="ms-2 btn d-none d-lg-block rounded-5 text-light"
				style="background-color: #1ed760"
			>
				<i class="bi bi-spotify"></i>
			</a>

			<a
				*ngIf="playlistUrl && (inTraining || inRest)"
				[href]="playlistUrl"
				target="_blank"
				class="ms-2 btn btn-sm d-block d-lg-none rounded-5 text-light"
				style="background-color: #1ed760"
			>
				<i class="bi bi-spotify"></i>
			</a>
		</div>

		<div class="btn-group">
			<button
				type="button"
				class="btn"
				data-bs-toggle="dropdown"
				aria-expanded="false"
				style="border: none"
			>
				<i class="fs-3 bi bi-list"></i>
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li class="text-end mb-1">
					<a
						class="dropdown-item"
						(click)="onSocial()"
						style="cursor: pointer"
					>
						Gymbros
						<i class="ms-2 bi bi-people-fill"></i>
					</a>
				</li>
				<li class="text-end mb-1">
					<a
						class="dropdown-item"
						(click)="onFeedback()"
						style="cursor: pointer"
					>
						Feedback
						<i class="ms-2 bi bi-flag-fill"></i>
					</a>
				</li>
				<li class="text-end mb-1">
					<a
						class="dropdown-item"
						(click)="onAbout()"
						style="cursor: pointer"
					>
						About
						<i class="ms-2 bi bi-info-circle-fill"></i>
					</a>
				</li>
				<li class="text-end mb-1">
					<a
						class="dropdown-item"
						(click)="onSettings()"
						style="cursor: pointer"
					>
						Impostazioni
						<i class="ms-2 bi bi-gear-wide-connected"></i>
					</a>
				</li>
				<li class="text-end mb-1" *ngIf="isAdmin">
					<a
						class="dropdown-item"
						(click)="onAdmin()"
						style="cursor: pointer"
					>
						Admin
						<i class="ms-2 bi bi-shield-lock-fill"></i>
					</a>
				</li>
				<li class="text-end">
					<a
						class="dropdown-item"
						(click)="onLogout()"
						style="cursor: pointer"
					>
						Esci
						<i class="ms-2 bi bi-box-arrow-right"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>
