#workout-builder-container {
	width: 50%;
	margin: auto;
	margin-top: 10px;
}

#date-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
}

#buttons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#buttons-container button {
	width: 300px;
	margin-top: 10px;
}

#add-exercise-button {
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	#exercise-name {
		font-size: 65%;
	}
}

@media (max-width: 600px) {
	#workout-builder-container {
		width: 90%;
	}

	#date-container {
		margin-left: 0%;
		margin-right: 0%;
	}
}
