<div
	class="d-flex flex-column justify-content-center align-items-center p-3 bg-body-tertiary"
	style="max-width: 500px"
>
	<h1 class="text-center w-100 d-none d-lg-block">
		Giornata di scarico?
		<i class="bi bi-feather"></i>
	</h1>
	<h2 class="text-center w-100 d-block d-lg-none">
		Giornata di scarico?
		<i class="bi bi-feather"></i>
	</h2>

	<p class="text-center w-100">
		Cliccando su "Ok" imposterai tutti gli esercizi a una intensità leggera.
	</p>

	<div class="d-flex justify-content-center align-items-center w-100">
		<button (click)="activateDeload()" class="purple-btn btn me-2 w-100">
			Ok
		</button>

		<button
			(click)="closeDialog()"
			[ngClass]="{
				'btn w-100': true,
				'btn-light': theme === 'dark',
				'btn-dark': theme === 'light'
			}"
		>
			Annulla
		</button>
	</div>
</div>
