<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div id="wrapper" *ngIf="!loading">
	<div id="main-container" class="p-3">
		<div class="h-100 w-100 d-flex flex-column align-items-center">
			<h1 class="text-center">Profilo</h1>

			<img
				class="mb-2 mt-4 d-none d-lg-block"
				src="assets/profile.png"
				width="200"
				alt="Profile pic"
			/>
			<img
				class="mb-2 mt-4 d-block d-lg-none"
				src="assets/profile.png"
				width="150"
				alt="Profile pic"
			/>

			<p *ngIf="username" class="w-100 text-center text-wrap">
				{{ username }}
			</p>

			<div class="d-flex justify-content-center align-items-center mb-4">
				<!-- Share -->
				<button
					*ngIf="username"
					(click)="shareUsername()"
					[ngClass]="{
						'btn btn-light rounded-5 btn-sm': true,
						'me-2': !onModify
					}"
					style="border: none"
				>
					<i class="bi bi-box-arrow-up"></i>
				</button>
				<button
					*ngIf="!username"
					disabled
					[ngClass]="{
						'btn btn-light rounded-5 btn-sm': true,
						'me-2': !onModify
					}"
					style="border: none"
				>
					<i class="bi bi-box-arrow-up"></i>
				</button>

				<!-- Edit -->
				<button
					*ngIf="!onModify"
					(click)="onModify = true"
					class="btn btn-light rounded-5 btn-sm ms-2"
					style="border: none"
				>
					<i class="bi bi-pencil-square"></i>
				</button>
			</div>

			<div class="form-check mb-4">
				<input
					*ngIf="!onModify"
					disabled
					id="checkbox-profile"
					class="form-check-input"
					type="checkbox"
					[checked]="visibility"
				/>
				<input
					*ngIf="onModify"
					id="checkbox-profile"
					class="form-check-input"
					type="checkbox"
					[(ngModel)]="visibility"
					[checked]="visibility"
				/>
				<label
					class="form-check-label d-none d-lg-block"
					for="checkbox-profile"
				>
					Rendi visibili le tue schede agli altri
				</label>
				<label
					class="form-check-label d-block d-lg-none"
					for="checkbox-profile"
					style="font-size: small"
				>
					Rendi visibili le tue schede agli altri
				</label>
			</div>

			<div class="mb-3 w-100">
				<button
					(click)="openExcerciseDialog()"
					class="btn btn-light w-100 mb-4 d-none d-lg-block"
				>
					Esercizi custom
					<i class="ms-2 bi bi-arrows-angle-expand"></i>
				</button>

				<!--Mobile-->
				<button
					(click)="openExcerciseDialog()"
					class="btn btn-sm btn-light w-100 mb-4 d-block d-lg-none"
				>
					Esercizi custom
					<i class="ms-2 bi bi-arrows-angle-expand"></i>
				</button>

				<div *ngIf="onModify" class="w-100 mb-2">
					<div class="w-100 d-none d-lg-block">
						<div class="d-flex flex-column mb-4">
							<p class="mb-0">Username</p>
							<input
								[(ngModel)]="username"
								type="text"
								class="border-0 border-bottom py-1"
								style="background-color: transparent"
							/>
						</div>
						<div class="d-flex flex-column mb-4">
							<p class="mb-0">URL Playlist Spotify</p>
							<input
								[(ngModel)]="playlistUrl"
								type="text"
								class="border-0 border-bottom py-1"
								style="background-color: transparent"
							/>
						</div>
					</div>
					<div class="w-100 d-block d-lg-none">
						<div class="d-flex flex-column mb-4">
							<small class="mb-0">Username</small>
							<input
								[(ngModel)]="username"
								type="text"
								class="border-0 border-bottom"
								style="
									background-color: transparent;
									font-size: small;
								"
							/>
						</div>
						<div class="d-flex flex-column mb-4">
							<small class="mb-0">URL Playlist Spotify</small>
							<input
								[(ngModel)]="playlistUrl"
								type="text"
								class="border-0 border-bottom"
								style="
									background-color: transparent;
									font-size: small;
								"
							/>
						</div>
					</div>
					<div
						class="d-flex justify-content-center align-items-center w-100 mb-4"
					>
						<button
							(click)="saveSettings()"
							[disabled]="!isPlaylistUrlValid()"
							class="me-1 btn purple-btn text-light w-100 d-none d-lg-block"
						>
							Salva
							<i class="ms-1 bi bi-check"></i>
						</button>
						<button
							(click)="cancel()"
							class="ms-1 btn btn-dark d-none d-lg-block"
						>
							<i class="bi bi-x"></i>
						</button>

						<!--Mobile-->
						<button
							(click)="saveSettings()"
							[disabled]="!isPlaylistUrlValid()"
							class="me-1 btn btn-sm purple-btn text-light w-100 d-block d-lg-none"
						>
							Salva
							<i class="ms-1 bi bi-check"></i>
						</button>
						<button
							(click)="cancel()"
							class="ms-1 btn btn-sm btn-dark d-block d-lg-none"
						>
							<i class="bi bi-x"></i>
						</button>
					</div>
				</div>

				<button
					class="btn btn-secondary w-100 mb-4 d-none d-lg-block"
					(click)="changePassword()"
				>
					Cambia password
					<i class="ms-1 bi bi-lock-fill"></i>
				</button>

				<!--Mobile-->
				<button
					class="btn btn-sm btn-secondary w-100 mb-4 d-block d-lg-none"
					(click)="changePassword()"
				>
					Cambia password
					<i class="ms-1 bi bi-lock-fill"></i>
				</button>

				<div
					class="justify-content-center align-items-center d-none d-lg-flex mb-4 w-100"
				>
					<button (click)="backToHome()" class="btn btn-dark me-2">
						Torna alla home
						<i class="ms-1 bi bi-house-fill"></i>
					</button>
					<button
						(click)="deleteAccount()"
						class="btn btn-danger ms-2"
					>
						Elimina Account
						<i class="ms-1 bi bi-trash3-fill"></i>
					</button>
				</div>

				<!--Mobile-->
				<div
					class="d-flex flex-column justify-content-center align-items-center d-block d-lg-none mb-4 w-100"
				>
					<button
						(click)="backToHome()"
						class="btn btn-sm btn-dark mb-4 w-100"
					>
						Torna alla home
						<i class="ms-1 bi bi-house-fill"></i>
					</button>
					<button
						(click)="deleteAccount()"
						class="btn btn-sm btn-danger w-100 mb-4"
					>
						Elimina Account
						<i class="ms-1 bi bi-trash3-fill"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
