<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div id="wrapper" *ngIf="!loading">
	<div id="main-container" class="p-3">
		<div
			class="position-relative h-100 w-100 d-flex flex-column align-items-center"
		>
			<h1 class="text-center">Profilo</h1>

			<div
				class="mb-2 mt-4 d-none d-lg-block position-relative top-0 left-0"
			>
				<img
					class="position-relative top-0 left-0 rounded-circle object-fit-cover"
					[src]="profilePic ? profilePic : 'assets/profile.png'"
					width="200"
					height="200"
					alt="Profile pic"
				/>

				<div
					class="rounded-circle position-absolute top-0 left-0 edit-profile-pic"
					style="
						width: 200px;
						height: 200px;
						background-color: rgb(0, 0, 0);
					"
					(click)="openProfilePicDialog()"
				>
					<div
						class="w-100 h-100 d-flex justify-content-center align-items-center"
					>
						<i class="bi bi-camera text-light fs-1"></i>
					</div>
				</div>
			</div>

			<div
				class="mb-2 mt-4 d-block d-lg-none position-relative top-0 left-0"
			>
				<img
					[src]="profilePic ? profilePic : 'assets/profile.png'"
					class="position-relative top-0 left-0 rounded-circle object-fit-cover"
					width="150"
					height="150"
					alt="Profile pic"
				/>

				<div
					class="rounded-circle position-absolute top-0 left-0"
					style="width: 150px; height: 150px"
				>
					<button
						class="btn btn-sm btn-light shadow-sm position-absolute top-0 end-0 rounded-circle py-1"
						(click)="openProfilePicDialog()"
					>
						<i class="bi bi-camera-fill text-dark"></i>
					</button>
				</div>
			</div>

			<p *ngIf="username" class="w-100 text-center text-wrap">
				{{ username }}
			</p>

			<div class="d-flex justify-content-center align-items-center mb-4">
				<!-- Share -->
				<button
					*ngIf="username"
					(click)="shareUsername()"
					class="btn btn-light rounded-5 shadow-sm btn-sm,"
					style="border: none"
				>
					<i class="bi bi-box-arrow-up"></i>
				</button>
				<button
					*ngIf="!username"
					disabled
					class="btn btn-light rounded-5 shadow-sm btn-sm,"
					style="border: none"
				>
					<i class="bi bi-box-arrow-up"></i>
				</button>
			</div>

			<button
				(click)="openExcerciseDialog()"
				class="d-flex btn btn-light border-0 shadow-sm rounded-3 mb-3 p-2 w-100 d-none d-lg-block"
			>
				<i class="me-2 bi bi-arrows-angle-expand"></i>
				Esercizi custom
			</button>

			<button
				(click)="openExcerciseDialog()"
				class="d-flex btn btn-sm btn-light border-0 shadow-sm rounded-3 mb-3 p-2 w-100 d-block d-lg-none"
			>
				<i class="me-2 bi bi-arrows-angle-expand"></i>
				Esercizi custom
			</button>

			<button
				class="d-flex btn btn-dark border-0 shadow-sm rounded-3 mb-4 p-2 w-100 d-none d-lg-block"
				(click)="backToHome()"
			>
				<i class="me-2 bi bi-house-fill"></i>
				Torna alla home
			</button>

			<button
				class="d-flex btn btn-sm btn-dark border-0 shadow-sm rounded-3 mb-4 p-2 w-100 d-block d-lg-none"
				(click)="backToHome()"
			>
				<i class="me-2 bi bi-house-fill"></i>
				Torna alla home
			</button>

			<ul
				class="nav nav-underline w-100 d-flex align-items-center justify-content-between mb-2"
			>
				<li class="nav-item" style="cursor: pointer">
					<a
						[ngClass]="{
							'text-decoration-none': true,
							'active, text-dark': !onNotifications,
							'text-muted': onNotifications
						}"
						aria-current="page"
						(click)="onNotifications = false"
					>
						<p class="d-block d-md-none mb-0 fw-bold">
							<i class="me-1 bi bi-gear-wide-connected"></i>
							Impostazioni
						</p>

						<h5 class="d-none d-md-block">
							<i class="me-1 bi bi-gear-wide-connected"></i>
							Impostazioni
						</h5>
					</a>
				</li>

				<li class="nav-item" style="cursor: pointer">
					<a
						[ngClass]="{
							'text-decoration-none': true,
							'active, text-dark': onNotifications,
							'text-muted': !onNotifications
						}"
						(click)="onNotifications = true"
					>
						<p class="d-block d-md-none mb-0 fw-bold">
							Notifiche
							<i class="ms-1 bi bi-bell-fill position-relative">
								<span
									*ngIf="notifications.length > 0"
									class="position-absolute top-0 start-100 translate-middle p-1 bg-danger rounded-circle"
								>
									<span class="visually-hidden">
										New alerts
									</span>
								</span>
							</i>
						</p>

						<h5 class="d-none d-md-block">
							Notifiche
							<i class="ms-1 bi bi-bell-fill position-relative">
								<span
									*ngIf="notifications.length > 0"
									class="position-absolute top-0 start-100 translate-middle p-1 bg-danger rounded-circle"
								>
									<span class="visually-hidden">
										New alerts
									</span>
								</span>
							</i>
						</h5>
					</a>
				</li>
			</ul>

			<!-- Impostazioni -->
			<div class="w-100 d-flex flex-column" *ngIf="!onNotifications">
				<div class="w-100 d-flex flex-column">
					<!-- Username Desktop -->
					<button
						id="usernameBtn"
						class="d-none d-lg-flex btn btn-light border-0 shadow-sm rounded-3 p-2"
						data-bs-toggle="collapse"
						data-bs-target="#collapseUsername"
						aria-expanded="false"
						aria-controls="collapseUsername"
						(click)="resetUsernameInput()"
					>
						<i class="me-2 bi bi-person-lines-fill"></i>
						Modifica Username
					</button>

					<div
						class="collapse mt-2 collapseDesktop"
						id="collapseUsername"
					>
						<div class="card card-body border-0 p-0">
							<div class="d-flex align-items-center">
								<input
									type="text"
									class="form-control rounded-3"
									placeholder="Username"
									aria-label="Username"
									aria-describedby="button-addon2"
									[(ngModel)]="username"
								/>
								<i
									*ngIf="isUsernameValid()"
									class="bi bi-check-lg mx-2 saveUsernameBtn"
									style="color: #6b44d4; cursor: pointer"
									(click)="saveSettings($event)"
								></i>
								<i
									*ngIf="!isUsernameValid()"
									class="bi bi-check-lg mx-2"
									disabled
									style="color: #9883d3"
								></i>
							</div>
						</div>
					</div>

					<!-- Username Mobile -->
					<button
						id="usernameBtnMobile"
						class="d-flex d-lg-none btn btn-sm btn-light border-0 shadow-sm rounded-3 p-2"
						data-bs-toggle="collapse"
						data-bs-target="#collapseUsernameMobile"
						aria-expanded="false"
						aria-controls="collapseUsernameMobile"
						(click)="resetUsernameInput()"
					>
						<i class="me-2 bi bi-person-lines-fill"></i>
						Modifica Username
					</button>

					<div
						class="collapse mt-2 collapseMobile"
						id="collapseUsernameMobile"
					>
						<div class="card card-body border-0 p-0">
							<div class="d-flex align-items-center">
								<input
									type="text"
									class="form-control form-control-sm rounded-3"
									placeholder="Username"
									aria-label="Username"
									aria-describedby="button-addon2"
									[(ngModel)]="username"
								/>
								<i
									*ngIf="isUsernameValid()"
									class="bi bi-check-lg mx-2 saveUsernameBtnMobile"
									style="color: #6b44d4; cursor: pointer"
									(click)="saveSettings($event)"
								></i>
								<i
									*ngIf="!isUsernameValid()"
									class="bi bi-check-lg mx-2"
									disabled
									style="color: #9883d3"
								></i>
							</div>
						</div>
					</div>

					<!-- Visibilty Desktop -->
					<button
						id="visibilityBtn"
						class="d-none d-lg-flex btn btn-light border-0 shadow-sm rounded-3 p-2 mt-3"
						data-bs-toggle="collapse"
						data-bs-target="#collapseVisibility"
						aria-expanded="false"
						aria-controls="collapseVisibility"
						(click)="resetUsernameInput()"
					>
						<i
							*ngIf="!visibility"
							class="me-2 bi bi-eye-slash-fill"
						></i>
						<i *ngIf="visibility" class="me-2 bi bi-eye-fill"></i>
						Modifica Visibilità
					</button>

					<div
						class="collapse mt-2 collapseDesktop"
						id="collapseVisibility"
					>
						<div class="card card-body border-0 p-0">
							<div class="form-check form-switch">
								<input
									class="form-check-input updateVisibilityBtn"
									type="checkbox"
									role="switch"
									id="flexSwitchCheckChecked"
									[checked]="visibility"
									[(ngModel)]="visibility"
									(change)="saveSettings($event)"
									style="cursor: pointer"
								/>
								<label
									class="form-check-label"
									for="flexSwitchCheckChecked"
								>
									Rendi visibili le tue schede agli altri
								</label>
							</div>
						</div>
					</div>

					<!-- Visibility Mobile -->
					<button
						id="visibilityBtnMobile"
						class="d-flex d-lg-none btn btn-sm btn-light border-0 shadow-sm rounded-3 p-2 mt-3"
						data-bs-toggle="collapse"
						data-bs-target="#collapseVisibilityMobile"
						aria-expanded="false"
						aria-controls="collapseVisibilityMobile"
						(click)="resetUsernameInput()"
					>
						<i
							*ngIf="!visibility"
							class="me-2 bi bi-eye-slash-fill"
						></i>
						<i *ngIf="visibility" class="me-2 bi bi-eye-fill"></i>
						Modifica Visibilità
					</button>

					<div
						class="collapse mt-2 collapseMobile"
						id="collapseVisibilityMobile"
					>
						<div class="card card-body border-0 p-0">
							<div class="form-check form-switch">
								<input
									class="form-check-input updateVisibilityBtnMobile"
									type="checkbox"
									role="switch"
									id="flexSwitchCheckCheckedMobile"
									[checked]="visibility"
									[(ngModel)]="visibility"
									(change)="saveSettings($event)"
									style="cursor: pointer"
								/>
								<label
									class="form-check-label"
									for="flexSwitchCheckCheckedMobile"
									style="font-size: small"
								>
									Rendi visibili le tue schede agli altri
								</label>
							</div>
						</div>
					</div>

					<!-- Playlist Desktop -->
					<button
						id="playlistBtn"
						class="btn btn-light border-0 shadow-sm rounded-3 p-2 mt-3 d-none d-lg-flex"
						data-bs-toggle="collapse"
						data-bs-target="#collapsePlaylist"
						aria-expanded="false"
						aria-controls="collapsePlaylist"
						(click)="resetPlaylistUrlInput()"
					>
						<i class="me-2 bi bi-spotify"></i>
						Modifica Playlist Spotify
					</button>

					<div
						class="collapse mt-2 collapseDesktop"
						id="collapsePlaylist"
					>
						<div class="card card-body border-0 p-0">
							<div class="d-flex align-items-center">
								<input
									type="url"
									inputmode="url"
									class="form-control rounded-3"
									placeholder="Playlist URL"
									aria-label="Playlist URL"
									aria-describedby="button-addon2"
									[(ngModel)]="playlistUrl"
								/>
								<i
									*ngIf="isPlaylistUrlValid()"
									class="bi bi-check-lg mx-2 savePlaylistBtn"
									style="color: #6b44d4; cursor: pointer"
									(click)="saveSettings($event)"
								></i>
								<i
									*ngIf="!isPlaylistUrlValid()"
									class="bi bi-check-lg mx-2"
									disabled
									style="color: #9883d3"
								></i>
							</div>
						</div>
					</div>

					<!-- Playlist Mobile -->
					<button
						id="playlistBtnMobile"
						class="btn btn-sm btn-light border-0 shadow-sm rounded-3 p-2 mt-3 d-flex d-lg-none"
						data-bs-toggle="collapse"
						data-bs-target="#collapsePlaylistMobile"
						aria-expanded="false"
						aria-controls="collapsePlaylistMobile"
						(click)="resetPlaylistUrlInput()"
					>
						<i class="me-2 bi bi-spotify"></i>
						Modifica Playlist Spotify
					</button>

					<div
						class="collapse mt-2 collapseMobile"
						id="collapsePlaylistMobile"
					>
						<div class="card card-body border-0 p-0">
							<div class="d-flex align-items-center">
								<input
									type="url"
									inputmode="url"
									class="form-control form-control-sm rounded-3"
									placeholder="Playlist URL"
									aria-label="Playlist URL"
									aria-describedby="button-addon2"
									[(ngModel)]="playlistUrl"
								/>
								<i
									*ngIf="isPlaylistUrlValid()"
									class="bi bi-check-lg mx-2 savePlaylistBtnMobile"
									style="color: #6b44d4; cursor: pointer"
									(click)="saveSettings($event)"
								></i>
								<i
									*ngIf="!isPlaylistUrlValid()"
									class="bi bi-check-lg mx-2"
									disabled
									style="color: #9883d3"
								></i>
							</div>
						</div>
					</div>

					<!-- Password -->
					<button
						class="btn btn-light border-0 shadow-sm rounded-3 p-2 mt-3 d-none d-lg-flex"
						(click)="changePassword()"
					>
						<i class="me-2 bi bi-lock-fill"></i>
						Modifica Password
					</button>

					<button
						class="btn btn-sm btn-light border-0 shadow-sm rounded-3 p-2 mt-3 d-flex d-lg-none"
						(click)="changePassword()"
					>
						<i class="me-2 bi bi-lock-fill"></i>
						Modifica Password
					</button>

					<!-- Delete -->
					<button
						class="btn btn-danger border-0 shadow-sm rounded-3 p-2 my-3 d-none d-lg-flex"
						(click)="deleteAccount()"
					>
						<i class="me-2 bi bi-trash3-fill"></i>
						Elimina Account
					</button>

					<button
						class="btn btn-sm btn-danger border-0 shadow-sm rounded-3 p-2 my-3 d-flex d-lg-none"
						(click)="deleteAccount()"
					>
						<i class="me-2 bi bi-trash3-fill"></i>
						Elimina Account
					</button>
				</div>
			</div>

			<!-- Notifications -->
			<div class="w-100 d-flex flex-column" *ngIf="onNotifications">
				<p
					*ngIf="notifications.length === 0"
					class="text-muted text-center mt-3"
				>
					Non hai notifiche!
				</p>

				<button
					class="btn btn-dark btn-sm rounded-5 align-self-end mb-3 px-3"
					style="width: fit-content"
				>
					<i class="ms-1 bi bi-trash3-fill"></i>
				</button>

				<div
					*ngFor="let notification of notifications"
					class="w-100 d-flex flex-column"
				>
					<div
						class="d-flex justify-content-between align-items-center alert alert-light alert-dismissible fade show p-2 w-100 mb-2"
						role="alert"
						style="font-size: 14px"
					>
						<i
							*ngIf="notification.type === 'download'"
							class="bi bi-download"
						></i>

						<i
							*ngIf="notification.type === 'follow'"
							class="bi bi-person-plus-fill"
						></i>

						<img
							*ngIf="notification.type === 'update'"
							src="assets/confetti.png"
							width="16"
							alt=""
						/>

						<small class="mx-3">
							<strong>
								{{
									getNotificationUsernameFromUserId(
										notification.from
									)
								}}
							</strong>
							<span *ngIf="notification.type === 'follow'">
								ha iniziato a seguirti
							</span>
							<span *ngIf="notification.type === 'download'">
								ha salvato una tua scheda
							</span>
							<span *ngIf="notification.type === 'update'">
								Gymbro si è aggiornata!
							</span>
						</small>

						<i
							class="bi bi-x"
							data-bs-dismiss="alert"
							type="button"
							(click)="deleteNotification(notification.id)"
						></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
