#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	overflow-y: auto;
}

input:focus {
	outline: none;
}

#checkbox-profile {
	outline: none;
	box-shadow: none;
	accent-color: #6b44d4 !important;
	cursor: pointer;
	border-radius: 50%;
	padding: 1px;
}

.save-btn:hover {
	background-color: #785ebe !important;
}

.save-btn:active {
	background-color: #957dd6 !important;
	border: #957dd6 !important;
	outline: #957dd6 !important;
}

@media (max-width: 360px) {
	.input-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
