#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	overflow-y: auto;
}

input:focus {
	outline: none;
}

#checkbox-profile {
	outline: none;
	box-shadow: none;
	cursor: pointer;
	border-radius: 50%;
	padding: 1px;
}

.purple-btn {
	border: none;
	background-color: #6b44d4;
}

.purple-btn:hover {
	background-color: #785ebe !important;
}

.purple-btn:active {
	background-color: #957dd6 !important;
}

@media (max-width: 450px) {
	.input-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
