#exercise-picker-form-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#select-and-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#select-and-button-container button {
	margin-bottom: 20px;
}
