<div
	class="d-flex flex-column justify-content-center align-items-center p-3 bg-body-tertiary"
	style="height: fit-content; max-width: 500px"
>
	<i class="text-danger fs-1 bi bi-x-circle"></i>

	<h1 class="text-center">Autenticazione fallita!</h1>

	<p class="text-center w-100">
		E-mail e/o password errati. Se il problema persiste, controlla la tua
		rete Wi-Fi e riprova.
	</p>

	<button
		(click)="closeDialog()"
		[ngClass]="{
			'btn w-100': true,
			'btn-dark': theme === 'light',
			'btn-light': theme === 'dark'
		}"
	>
		Ok
	</button>
</div>
