#button-container {
	padding-top: 10em;
	margin: auto;
	width: 300px;
	display: flex;
	flex-direction: column;
}

#button-container button {
	/* margin-bottom: 10px; */
	border-color: rgb(69, 69, 188);
	background-color: white;
	color: rgb(69, 69, 188);
	height: 60px;
}

#button-container button:hover {
	/* margin-bottom: 10px; */
	border-color: rgb(69, 69, 188);
	background-color: rgb(69, 69, 188);
	color: white;
	height: 60px;
}
