<div id="button-container">
	<div class="btn-group-vertical" role="group" aria-label="Basic example">
		<button
			class="btn btn-primary"
			color="primary"
			(click)="navigate('/home/prebuild-workout')"
			aria-label="new-workout"
		>
			<div
				style="
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				"
			>
				<i style="font-size: 1.2em" class="bi bi-plus-circle"></i>
				<div
					style="
						display: flex;
						justify-content: center;
						align-items: center;
						width: 90%;
					"
				>
					<span>
						{{
							workoutExists()
								? "Continua l'allenamento"
								: "Crea un nuovo allenamento"
						}}
					</span>
				</div>
			</div>
		</button>
		<button
			class="btn btn-primary"
			color="primary"
			(click)="navigate('/home/training-program-selector')"
			aria-label="use-training-program"
		>
			<div
				style="
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				"
			>
				<i style="font-size: 1.2em" class="bi bi-list-task"></i>
				<div
					style="
						display: flex;
						justify-content: center;
						align-items: center;
						width: 90%;
					"
				>
					<span>Usa una scheda di allenamento</span>
				</div>
			</div>
		</button>
		<button
			class="btn btn-primary"
			(click)="navigate('/home/dashboard')"
			aria-label="back-to-home"
		>
			<div
				style="
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				"
			>
				<i style="font-size: 1.2em" class="bi bi-house"></i>
				<div
					style="
						display: flex;
						justify-content: center;
						align-items: center;
						width: 90%;
					"
				>
					<span>Torna alla home</span>
				</div>
			</div>
		</button>
	</div>
</div>
