#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

input:focus {
	outline: none;
}

.user:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.purple-btn {
	border: none;
	background-color: #6b44d4;
}

.purple-btn:hover {
	background-color: #785ebe !important;
}

.purple-btn:active {
	background-color: #957dd6 !important;
}
