#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

input:focus {
	outline: none;
}

.search-btn:hover {
	background-color: #785ebe !important;
}

.search-btn:active {
	background-color: #957dd6 !important;
	border: #957dd6 !important;
	outline: #957dd6 !important;
}

.user:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
