<div id="wrapper" *ngIf="!loading">
	<div id="main-container" class="p-3">
		<div class="d-none d-lg-block mt-3">
			<button
				class="btn back-btn text-light me-2"
				style="border: none; background-color: #6b44d4;"
				(click)="onCancel()"
			>
				<i class="me-1 bi bi-arrow-left"></i>
				Torna Indietro
			</button>
			<button
				class="btn btn-dark ms-2"
				routerLink="/home"
			>
				Torna alla home
				<i class="ms-1 bi bi-house-fill"></i>
			</button>
		</div>

		<div class="d-block d-lg-none mt-3">
			<button
				class="btn back-btn text-light me-2"
				style="border: none; background-color: #6b44d4;"
				(click)="onCancel()"
			>
				<i class="me-1 bi bi-arrow-left"></i>
				Indietro
			</button>
			<button
				class="btn btn-dark ms-2"
				routerLink="/home"
			>
				Home
				<i class="bi bi-house-fill"></i>
			</button>
		</div>

		<img class="mb-2 mt-4 d-none d-lg-block" src="assets/profile.png" width="200" alt="Profile pic">
		<img class="mb-2 mt-4 d-block d-lg-none" src="assets/profile.png" width="150" alt="Profile pic">

		<div class="d-flex justify-content-center align-items-center mb-4">
			<p class="mb-0" *ngIf="username" style="color: #4089c9;">{{ '@' + username }}</p>
		</div>

		<div class="d-flex flex-column justify-content-center align-items-center w-100">
			<h3 *ngIf="trainingPrograms.length > 0" class="text-center mb-4 d-none d-lg-block">Schede di allenamento</h3>
			<h5 *ngIf="trainingPrograms.length > 0" class="text-center mb-4 d-block d-lg-none">Schede di allenamento</h5>
			<h3 *ngIf="trainingPrograms.length === 0" class="text-center text-secondary mb-4">{{ username + ' non ha ancora creato una scheda di allenamento' }}</h3>

			<div *ngFor="let program of trainingPrograms; index as programIndex" class="w-100 mb-2">
				<a
					[href]="'#program' + programIndex"
					class="btn btn-light w-100 mb-1 border programs-collapser collapser d-flex justify-content-between align-items-center mobile-btn"
					data-bs-toggle="collapse"
					role="button"
					aria-expanded="false"
					aria-controls="collapseExample"
				>
					<p class="text-center mb-0">{{ program.name }}</p>
					<p class="mb-0">{{ 'Sessioni: ' + program.session.length }}</p>
				</a>


				<div class="collapse w-100 programs-collapse-body collapse-body" [id]="'program' + programIndex">
					<div class="card card-body p-1">
						<h5 class="text-center">Sessioni</h5>
						<div *ngFor="let session of program.session; index as sessionIndex" class="w-100 mb-2">
							<a
								[href]="'#session' + programIndex + sessionIndex"
								class="btn btn-light w-100 mb-1 border collapser sessions-collapser d-flex justify-content-between align-items-center mobile-btn"
								data-bs-toggle="collapse"
								role="button"
								aria-expanded="false"
								aria-controls="collapseExample"
							>
								<p class="text-center mb-0">{{ session.name }}</p>
								<p class="mb-0">{{ 'Esercizi: ' + session.exercises.length }}</p>
							</a>


							<div class="collapse w-100 sessions-collapse-body collapse-body" [id]="'session' + programIndex + sessionIndex">
								<div class="card card-body p-1">
									<table class="table table-sm table-striped table-hover">
										<thead>
											<tr>
												<th scope="col">Esercizio</th>
												<th scope="col">Serie x Reps</th>
												<th scope="col">RPE</th>
											</tr>
										</thead>
										<tbody class="table-group-divider">
											<tr
												*ngFor="
													let exercise of session.exercises;
													index as exerciseIndex
												"
											>
												<th>
													<i
														*ngIf="
															exercise.note && exercise.note != ''
														"
														(click)="
															showNotes(
																programIndex,
																sessionIndex,
																exerciseIndex
															)
														"
														style="cursor: pointer"
														class="me-1 bi bi-info-circle-fill"
													></i>
													{{ exercise.name }}
												</th>

												<td>
													<div
														*ngIf="
															exercise.configurationType ===
															'advanced'
														"
													>
														<div
															*ngFor="
																let set of exercise.advanced.sets;
																index as i
															"
														>
															{{
																exercise.series > 0
																? exercise.series +
																	" x " +
																	(set.min != set.max
																		? set.min +
																		"-" +
																		set.max
																		: set.min)
																: "/"
															}}
															<br />
														</div>
													</div>

													<div
														*ngIf="
															!exercise.configurationType ||
															exercise.configurationType === 'basic'
														"
													>
														{{
															exercise.series > 0
																? exercise.series +
																  " x " +
																  (exercise.range[0] !=
																  exercise.range[1]
																		? exercise.range[0] +
																		  "-" +
																		  exercise.range[1]
																		: exercise.range[0])
																: "/"
														}}
													</div>
												</td>

												<td>
													{{ exercise.RPE > 0 ? exercise.RPE : "" }}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<button class="btn btn-dark d-none d-lg-block" (click)="saveWorkout(programIndex)">Salva nelle tue schede <i class="ms-1 bi bi-download"></i></button>
						<button class="btn btn-sm btn-dark d-block d-lg-none" (click)="saveWorkout(programIndex)">Salva <i class="ms-1 bi bi-download"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
