<mat-progress-bar
	*ngIf="this.loading"
	mode="indeterminate"
	color="primary"
></mat-progress-bar>

<div id="profile-container">
	<div id="title-container">
		<h1>
			<span>{{ this.username }}</span>
		</h1>
	</div>

	<ng-container *ngIf="this.trainingPrograms?.length == 0">
		<div id="info-text-container">
			<span>Non ci sono schede</span>
		</div>
	</ng-container>

	<mat-accordion>
		<mat-expansion-panel
			hideToggle
			*ngFor="let program of this.trainingPrograms; index as programIndex"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>{{ program.name }}</mat-panel-title>
				<mat-panel-description>
					Numero di sessioni: {{ program.session.length }}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-accordion>
				<mat-expansion-panel
					hideToggle
					*ngFor="
						let session of program.session;
						index as sessionIndex
					"
				>
					<mat-expansion-panel-header>
						<mat-panel-title>{{ session.name }}</mat-panel-title>
						<mat-panel-description>
							Numero di esercizi: {{ session.exercises.length }}
						</mat-panel-description>
					</mat-expansion-panel-header>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Esercizio</th>
								<th scope="col">Serie x Reps</th>
								<th scope="col">RPE</th>
								<th scope="col">Note</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr
								*ngFor="
									let exercise of session.exercises;
									index as exerciseIndex
								"
							>
								<th>
									{{ exercise.name }}
								</th>

								<td>
									<ng-container
										*ngIf="
											exercise.configurationType ===
											'advanced'
										"
									>
										<ng-container
											*ngFor="
												let set of exercise.advanced
													.sets;
												index as i
											"
										>
											<b>{{ i + 1 + ":" }}</b>
											{{
												set.min != set.max
													? set.min +
													  " reps - " +
													  set.max +
													  " reps"
													: set.min + " reps"
											}}
											<br />
										</ng-container>
									</ng-container>

									<ng-container
										*ngIf="
											!exercise.configurationType ||
											exercise.configurationType ===
												'basic'
										"
									>
										{{
											exercise.series > 0
												? exercise.series +
												  "x" +
												  (exercise.range[0] !=
												  exercise.range[1]
														? exercise.range[0] +
														  "-" +
														  exercise.range[1]
														: exercise.range[0])
												: "/"
										}}
									</ng-container>
								</td>

								<td>
									{{ exercise.RPE > 0 ? exercise.RPE : "" }}
								</td>

								<td>
									<i
										*ngIf="
											exercise.note && exercise.note != ''
										"
										(click)="
											showNotes(
												programIndex,
												sessionIndex,
												exerciseIndex
											)
										"
										style="cursor: pointer"
										class="bi bi-info-circle-fill"
									></i>
								</td>
							</tr>
						</tbody>
					</table>
					<br />
				</mat-expansion-panel>


				<div
					style="
						display: flex;
						justify-content: flex-end;
					"
				>
					<button
						class="btn btn-outline-dark mt-2"
						(click)="saveWorkout(programIndex)"
					>
						Salva nelle tue schede
					</button>
				</div>

				<!-- <button
					mat-stroked-button
					color="primary"
					(click)="saveWorkout(programIndex)"
				>
					Salva nelle tue schede
				</button> -->
			</mat-accordion>
		</mat-expansion-panel>
	</mat-accordion>
</div>
