#builder-container {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	margin-top: 10px;
}

.custom-span {
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	color: rgb(69, 69, 188);
	width: 100px;
	display: flex;
	justify-content: center;
	font-size: 0.9em;
}

.custom-button-filled {
	background-color: rgb(69, 69, 188);
	color: white;
	border: 0;
}

.custom-button-filled:hover {
	background-color: rgb(57, 57, 131);
}

.custom-button {
	color: rgb(69, 69, 188) !important;
	background-color: #fff !important;
	border-color: rgb(69, 69, 188) !important;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
}

.custom-button:hover {
	color: #fff !important;
	background-color: rgb(69, 69, 188) !important;
	border-color: rgb(69, 69, 188) !important;
	text-decoration: none;
}

#title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	color: rgb(69, 69, 188);
	margin-top: 20px;
}

#add-session-button {
	margin-bottom: 3em;
}

@media (max-width: 900px) {
	#builder-container {
		width: 95%;
	}

	.mdc-data-table__header-cell::ng-deep {
		padding: 10px;
	}
}
