<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div id="wrapper" *ngIf="!loading">
	<div id="main-container" class="p-3">
		<h1 class="my-3 text-center">
			{{ editMode ? "Modifica" : "Nuova" }} scheda di allenamento
		</h1>

		<form class="d-flex justify-content-center align-items-center mb-4">
			<button
				type="button"
				[ngClass]="{
					'btn me-2 d-none d-lg-flex': true,
					'soft-dark-btn': theme === 'light',
					'soft-light-btn': theme === 'dark'
				}"
				routerLink="/home/training-programs"
				(click)="cancel()"
			>
				<i class="me-1 bi bi-arrow-left"></i>
				Indietro
			</button>

			<button
				type="button"
				[ngClass]="{
					'btn btn-sm me-2 d-flex d-lg-none': true,
					'soft-dark-btn': theme === 'light',
					'soft-light-btn': theme === 'dark'
				}"
				routerLink="/home/training-programs"
				(click)="cancel()"
			>
				<i class="bi bi-arrow-left"></i>
			</button>

			<div class="d-flex flex-column w-50 mx-2 mb-3 mt-2 input-container">
				<p class="mb-0 text-center">Nome</p>
				<input
					name="trainingProgramName"
					[ngModelOptions]="{ standalone: true }"
					[(ngModel)]="trainingProgram.name"
					type="text"
					class="border-0 border-bottom py-1"
					style="background-color: transparent"
				/>
			</div>

			<button
				[disabled]="!savable()"
				type="submit"
				class="btn text-light purple-btn ms-2 d-none d-lg-flex"
				(click)="saveTrainingProgram()"
			>
				Salva
				<i class="ms-1 bi bi-check"></i>
			</button>
			<button
				[disabled]="!savable()"
				type="submit"
				class="btn purple-btn btn-sm text-light ms-2 d-flex d-lg-none"
				(click)="saveTrainingProgram()"
			>
				<i class="bi bi-check"></i>
			</button>
		</form>

		<div
			*ngFor="
				let session of trainingProgram.session;
				index as sessionIndex
			"
			class="w-100 mb-2"
		>
			<a
				[href]="'#session' + sessionIndex"
				class="btn w-100 mb-1 border-0 sessions-collapser collapser d-flex justify-content-between align-items-center mobile-btn shadow-sm bg-body-tertiary"
				data-bs-toggle="collapse"
				role="button"
				aria-expanded="false"
				aria-controls="collapseExample"
			>
				<p class="text-center mb-0 text-truncate me-3">
					{{ session.name }}
				</p>
			</a>

			<div
				class="collapse w-100 sessions-collapse-body collapse-body rounded-3 shadow-sm"
				[id]="'session' + sessionIndex"
			>
				<div class="card bg-body-tertiary card-body p-1 border-0">
					<div class="d-flex justify-content-between w-100 mb-2 p-2">
						<div
							class="d-flex flex-column w-25 input-container session-name"
						>
							<p class="mb-0">Nome</p>
							<input
								name="sessionName"
								[ngModelOptions]="{ standalone: true }"
								[(ngModel)]="session.name"
								type="text"
								class="border-0 border-bottom py-1"
								style="background-color: transparent"
							/>
						</div>

						<button
							class="btn btn-sm btn-danger"
							style="height: fit-content; width: fit-content"
							(click)="deleteSessionDialog(sessionIndex)"
						>
							<i class="bi bi-trash3"></i>
						</button>
					</div>

					<table class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">Esercizio</th>
								<th scope="col">Serie</th>
								<th scope="col">Intensità</th>
								<th scope="col">Riposo</th>
								<th scope="col">Azioni</th>
							</tr>
						</thead>
						<tbody
							class="table-group-divider tbody"
							*ngIf="!showExercises"
						>
							<tr
								class="trow"
								*ngFor="
									let exercise of session.exercises;
									index as exerciseIndex
								"
							>
								<th class="text-wrap">
									<i
										*ngIf="
											exercise.note && exercise.note != ''
										"
										style="cursor: pointer"
										class="me-1 bi bi-info-circle-fill"
									></i>
									{{ exercise.name }}
								</th>

								<td>
									<div class="d-flex flex-column">
										<div
											*ngFor="
												let set of formatSets(
													exercise.set
												);
												index as setIndex
											"
										>
											{{ set }}
										</div>
									</div>
								</td>

								<td>
									<!--Desktop-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Leggero
										<i class="ms-1 bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Pesante
										<i
											class="ms-1 bi bi-lightning-fill"
										></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Cedimento
										<i class="ms-1 bi bi-fire"></i>
									</p>

									<!--Mobile-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-lightning-fill"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-fire"></i>
									</p>
								</td>

								<td>
									{{
										exercise.rest.minutes +
											":" +
											exercise.rest.seconds
									}}
								</td>

								<td>
									<div class="dropdown" style="width: 10px">
										<button
											class="btn"
											style="border: none"
											type="button"
										>
											<i class="bi bi-three-dots"></i>
										</button>
									</div>
								</td>
							</tr>
						</tbody>

						<tbody
							*ngIf="showExercises"
							class="table-group-divider tbody"
						>
							<tr
								class="trow"
								*ngFor="
									let exercise of session.exercises;
									index as exerciseIndex
								"
								draggable="true"
							>
								<th class="text-wrap">
									<i
										*ngIf="
											exercise.note && exercise.note != ''
										"
										style="cursor: pointer"
										class="me-1 bi bi-info-circle-fill"
										(click)="
											showNotes(
												sessionIndex,
												exerciseIndex
											)
										"
									></i>
									{{ exercise.name }}
								</th>

								<td>
									<div class="d-flex flex-column">
										<div
											*ngFor="
												let set of formatSets(
													exercise.set
												);
												index as setIndex
											"
										>
											{{ set }}
										</div>
									</div>
								</td>

								<td>
									<!--Desktop-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Leggero
										<i class="ms-1 bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Pesante
										<i
											class="ms-1 bi bi-lightning-fill"
										></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Cedimento
										<i class="ms-1 bi bi-fire"></i>
									</p>

									<!--Mobile-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-lightning-fill"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-fire"></i>
									</p>
								</td>

								<td>
									{{
										exercise.rest.minutes +
											":" +
											exercise.rest.seconds
									}}
								</td>

								<td>
									<div class="dropdown" style="width: 10px">
										<button
											class="btn"
											style="border: none"
											type="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
										>
											<i class="bi bi-three-dots"></i>
										</button>
										<ul
											[ngClass]="{
												'dropdown-menu': true,
												'dropdown-dark':
													theme === 'dark',
												'dropdown-light':
													theme === 'light'
											}"
										>
											<li style="cursor: pointer">
												<a
													class="dropdown-item"
													(click)="
														editExercise(
															session,
															exerciseIndex
														)
													"
												>
													Modifica
												</a>
											</li>
											<li style="cursor: pointer">
												<a
													class="dropdown-item text-danger"
													(click)="
														deleteExerciseDialog(
															session,
															exerciseIndex
														)
													"
												>
													Elimina
												</a>
											</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<p
						*ngIf="session.exercises.length == 0"
						class="text-center"
					>
						Non ci sono esercizi
					</p>

					<button
						[ngClass]="{
							'btn d-none d-lg-block': true,
							'soft-light-btn': theme === 'dark',
							'soft-dark-btn': theme === 'light'
						}"
						(click)="addExercise(session)"
					>
						Aggiungi esercizio
						<i class="ms-1 bi bi-plus-lg"></i>
					</button>

					<button
						[ngClass]="{
							'btn btn-sm d-block d-lg-none': true,
							'soft-light-btn': theme === 'dark',
							'soft-dark-btn': theme === 'light'
						}"
						(click)="addExercise(session)"
					>
						Aggiungi esercizio
						<i class="ms-1 bi bi-plus-lg"></i>
					</button>
				</div>
			</div>
		</div>

		<button
			class="btn text-light blue-btn d-none d-lg-block"
			(click)="addSession()"
		>
			Aggiungi sessione
			<i class="ms-1 bi bi-plus-lg"></i>
		</button>

		<button
			class="btn btn-sm text-light blue-btn d-block d-lg-none"
			(click)="addSession()"
		>
			Aggiungi sessione
			<i class="ms-1 bi bi-plus-lg"></i>
		</button>
	</div>
</div>
