#wrapper {
	width: 100vw;
	height: calc(100svh - 66px);
	transform: translateY(66px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

@media (max-width: 900px) {
	#main-container {
		width: 100% !important;
	}

	.table {
		font-size: 10px;
		white-space: nowrap;
	}

	.mobile-btn, .workoutsNumber, .pagination {
		font-size: 12px;
	}
}

@media (max-width: 300px) {
	.table {
		font-size: 8px;
	}

	.mobile-btn, .workoutsNumber, .pagination {
		font-size: 10px;
	}


}
