#wrapper {
	width: 100vw;
	height: calc(100svh - 70px);
	transform: translateY(70px);
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#main-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}
