<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div id="wrapper" *ngIf="!loading">
	<div
		id="main-container"
		[ngClass]="{ 'p-3': true, 'w-75': workouts.length !== 0 }"
	>
		<h1 class="text-center mb-3 w-100">
			{{
				!workouts || workouts.length === 0
					? "Non ci sono allenamenti, creane uno nuovo!"
					: "Vecchi allenamenti"
			}}
		</h1>

		<button
			*ngIf="workouts.length === 0"
			class="btn btn-dark mb-4 d-none d-lg-block"
			(click)="backToHomeButton()"
		>
			Torna alla home
			<i class="ms-1 bi bi-house-fill"></i>
		</button>

		<button
			*ngIf="workouts.length === 0"
			class="btn btn-sm btn-dark mb-4 d-block d-lg-none"
			(click)="backToHomeButton()"
		>
			Torna alla home
			<i class="ms-1 bi bi-house-fill"></i>
		</button>

		<img
			*ngIf="!workouts || workouts.length === 0"
			src="assets/no-old-workouts.svg"
			alt="No workouts found"
			style="width: 50%"
		/>

		<!-- TODO: Show all old workouts with pagination -->
		<div
			*ngFor="let workout of current7Workouts; index as workoutIndex"
			class="w-100 mb-2"
		>
			<a
				[href]="'#session' + workoutIndex"
				class="btn btn-light w-100 mb-1 shadow-sm session-collapser collapser d-flex justify-content-between align-items-center mobile-btn"
				data-bs-toggle="collapse"
				role="button"
				aria-expanded="false"
				aria-controls="collapseExample"
				(click)="focusCollapse('session', workoutIndex)"
			>
				<p
					style="pointer-events: none"
					class="text-center text-truncate mb-0"
				>
					{{ workout.name }}
				</p>
				<div>
					<p style="pointer-events: none" class="text-end mb-0">
						{{
							workout.trainingTime || workout.trainingTime !== 0
								? getTimeFromTimestamp(workout.trainingTime)
								: "-"
						}}
						<i class="ms-1 bi bi-stopwatch"></i>
					</p>
					<p style="pointer-events: none" class="text-end mb-0">
						{{
							getDateFromTimestamp(workout.date)
								| date : "dd/MM/yyyy"
						}}
						<i class="ms-1 bi bi-calendar-event"></i>
					</p>
				</div>
			</a>

			<div
				class="collapse w-100 workout-collapse-body collapse-body mb-3 shadow-sm"
				[id]="'session' + workoutIndex"
			>
				<div class="card card-body p-1 border-0">
					<table class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th scope="col">Esercizio</th>
								<th scope="col">Reps{{ "@" }}Carico</th>
								<th scope="col">Intensità</th>
								<th scope="col">Recupero</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr
								*ngFor="
									let exercise of workout.exercises;
									index as exerciseIndex
								"
							>
								<th class="text-wrap">
									<i
										*ngIf="
											exercise.note && exercise.note != ''
										"
										(click)="
											showNotes(
												workoutIndex,
												exerciseIndex
											)
										"
										style="cursor: pointer"
										class="me-1 bi bi-info-circle-fill"
									></i>
									{{ exercise.name }}
								</th>

								<td>
									<div class="d-flex flex-column">
										<div
											*ngFor="
												let set of formatEffectiveSets(
													exercise.set
												);
												index as setIndex
											"
										>
											{{ set }}
										</div>
									</div>
								</td>
								<td>
									<!--Desktop-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Leggero
										<i class="ms-1 bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Pesante
										<i
											class="ms-1 bi bi-lightning-fill"
										></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
										style="width: fit-content"
									>
										Cedimento
										<i class="ms-1 bi bi-fire"></i>
									</p>

									<!--Mobile-->
									<p
										*ngIf="exercise.intensity === 'light'"
										class="bg-success mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-feather"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'hard'"
										class="bg-warning mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-lightning-fill"></i>
									</p>
									<p
										*ngIf="exercise.intensity === 'failure'"
										class="bg-danger mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
										style="width: fit-content"
									>
										<i class="bi bi-fire"></i>
									</p>
								</td>

								<td>
									{{
										exercise.rest.minutes +
											":" +
											exercise.rest.seconds
									}}
								</td>
								<td></td>
							</tr>
						</tbody>
					</table>

					<div class="d-none d-lg-flex align-items-center w-100">
						<button
							class="btn btn-dark w-100 me-1"
							(click)="reuseWorkout(workoutIndex)"
						>
							Riutilizza
							<i class="ms-1 bi bi-recycle"></i>
						</button>

						<button
							class="btn blue-btn w-100 text-light mx-1"
							(click)="editWorkout(workoutIndex)"
						>
							Modifica
							<i class="ms-1 bi bi-pencil-square"></i>
						</button>

						<button
							class="btn btn-danger w-100 ms-1"
							(click)="deleteWorkout(workoutIndex)"
						>
							Elimina
							<i class="ms-1 bi bi-trash3"></i>
						</button>
					</div>

					<div class="d-flex d-lg-none align-items-center w-100">
						<button
							class="btn btn-sm btn-dark w-100 me-1"
							(click)="reuseWorkout(workoutIndex)"
						>
							<i class="bi bi-recycle"></i>
						</button>

						<button
							class="btn btn-sm blue-btn w-100 text-light mx-1"
							(click)="editWorkout(workoutIndex)"
						>
							<i class="bi bi-pencil-square"></i>
						</button>

						<button
							class="btn btn-sm btn-danger w-100 ms-1"
							(click)="deleteWorkout(workoutIndex)"
						>
							<i class="bi bi-trash3"></i>
						</button>
					</div>
				</div>
			</div>
		</div>

		<div
			class="d-flex justify-content-between align-items-center w-100 shadow-sm rounded bg-light px-3"
			*ngIf="workouts.length > 0"
		>
			<button
				class="btn btn-sm btn-dark rounded-5"
				(click)="backToHomeButton()"
			>
				<i class="bi bi-house-fill"></i>
			</button>

			<span class="d-none d-lg-flex align-items-center">
				<img
					src="assets/dumbbell-icon.png"
					class="me-1"
					width="14"
					alt=""
				/>
				{{ workouts.length }}
				Allenamenti
			</span>

			<span class="d-flex align-items-center d-lg-none workoutsNumber">
				{{ workouts.length }}
				<img
					src="assets/dumbbell-icon.png"
					class="ms-1"
					width="14"
					alt=""
				/>
			</span>

			<div class="d-flex align-items-center my-3 pagination">
				<button
					class="btn border-0 btn-sm"
					(click)="goToFirstPage()"
					[disabled]="currentPage === 1"
				>
					<i class="bi bi-chevron-double-left pagination"></i>
				</button>
				<button
					class="btn border-0 btn-sm"
					(click)="previousPage()"
					[disabled]="currentPage === 1"
				>
					<i class="bi bi-chevron-left pagination"></i>
				</button>
				<span class="mx-3">
					{{ currentPage }}
				</span>
				<button
					class="btn border-0 btn-sm"
					(click)="nextPage()"
					[disabled]="
						get7WorkoutsByPage(currentPage + 1).length === 0
					"
				>
					<i class="bi bi-chevron-right pagination"></i>
				</button>
				<button
					class="btn border-0 btn-sm"
					(click)="goToLastPage()"
					[disabled]="
						get7WorkoutsByPage(currentPage + 1).length === 0
					"
				>
					<i class="bi bi-chevron-double-right pagination"></i>
				</button>
			</div>
		</div>
	</div>
</div>
