#old-workouts-container {
	width: 50%;
	margin: auto;
}

#title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: rgb(69, 69, 188);
	margin-top: 10px;
}

#primary-title {
	font-size: 180%;
}

#secondary-title {
	margin-top: 10px;
	font-size: 120%;
}

#title-container button {
	margin: 10px
}

mat-expansion-panel button {
	margin-top: 5px;
}

#exercise-name-cell {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#exercise-name-cell img {
	width: 20px;
	height: 20px;
}

#exercise-name-cell button {
	margin-left: 0px;
	margin-bottom: 8px;
}

@media (max-width: 750px) {
	#old-workouts-container {
		width:95%;
	}

	.mdc-data-table__header-cell::ng-deep {
		padding:10px;
	}
}
