/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";


/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html { overflow: scroll; scroll-snap-type: y mandatory; }

@media (max-width: 600px) {
	div.mat-expansion-panel-body {
		padding: 0 5px 16px !important;
	}
}
