<div
	class="d-flex flex-column justify-content-center align-items-center p-3 overflow-hidden"
	style="min-width: 220px; max-width: 500px; max-height: 60svh"
>
	<h1 class="text-center w-100">Storico</h1>

	<h5 class="fst-italic text-center w-100">
		{{ exerciseName() }}
		<img
			src="assets/dumbbell.png"
			[ngStyle]="{ filter: theme === 'dark' ? 'invert(1)' : '' }"
			width="30"
			class="ms-2"
			alt="dumbbell"
		/>
	</h5>

	<p class="text-center w-100" *ngIf="stats.length === 0 && !loading">
		Non ci sono dati per questo esercizio
	</p>

	<div class="d-flex justify-content-center mb-3" *ngIf="loading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<div class="overflow-auto w-100 mb-3">
		<div *ngFor="let stat of stats" class="w-100">
			<div class="mb-2">
				<p class="mb-0 fw-bold">
					<i class="me-1 bi bi-calendar-event"></i>
					{{ stat.date | date : "dd/MM/yyyy" }}
				</p>

				<div *ngFor="let set of formatEffectiveSets(stat.exercise.set)">
					<small>
						<span *ngIf="stat.exercise.intensity === 'light'">
							<i class="text-success bi bi-feather"></i>
						</span>
						<span *ngIf="stat.exercise.intensity === 'hard'">
							<i class="text-warning bi bi-lightning-fill"></i>
						</span>
						<span *ngIf="stat.exercise.intensity === 'failure'">
							<i class="text-danger bi bi-fire"></i>
						</span>
						{{ set }}
					</small>
				</div>

				<div *ngIf="stat.exercise.note !== '' && stat.exercise.note">
					<p
						class="text-secondary fst-italic mb-0"
						style="font-size: 0.7em"
					>
						<i class="me-1 bi bi-sticky"></i>
						"{{ stat.exercise.note }}"
					</p>
				</div>

				<mat-divider class="my-1"></mat-divider>
			</div>
		</div>
	</div>

	<button
		(click)="closeDialog()"
		[ngClass]="{
			'btn w-100': true,
			'btn-light': theme === 'dark',
			'btn-dark': theme === 'light'
		}"
	>
		Chiudi
	</button>
</div>
