<div
	*ngIf="loading"
	class="d-flex justify-content-center align-items-center opacity-50 position-absolute"
	style="
		width: 100vw;
		height: 100svh;
		z-index: 10000;
		background-color: black;
	"
>
	<div class="spinner-border" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<!-- TODO: Remove !loading and check if object is already loaded -->
<div id="wrapper" *ngIf="!loading">
	<div
		id="main-container"
		[ngClass]="{ 'p-3': true, 'w-75': trainingPrograms.length !== 0 }"
	>
		<div class="w-100 mb-5">
			<h3 class="text-start">
				<img src="assets/dumbbell.png" width="30" alt="" />
				Crea da zero
			</h3>

			<p class="d-none d-lg-block">
				Gestisci manualmente il numero di esercizi, le serie, le
				ripetizioni e tutto ciò che ti serve per allenarti come
				desideri.
			</p>

			<small class="d-block d-lg-none mb-3">
				Gestisci manualmente il numero di esercizi, le serie, le
				ripetizioni e tutto ciò che ti serve per allenarti come
				desideri.
			</small>

			<button
				(click)="createWorkout()"
				class="btn purple-btn text-light w-100 d-none d-lg-block"
			>
				Crea
				<i class="ms-1 bi bi-plus"></i>
			</button>

			<button
				(click)="createWorkout()"
				class="btn btn-sm purple-btn text-light w-100 d-block d-lg-none"
			>
				Crea
				<i class="ms-1 bi bi-plus"></i>
			</button>
		</div>

		<div
			[ngClass]="{ 'w-100': true, 'mb-5': trainingPrograms.length === 0 }"
		>
			<h3 class="text-start">
				<i class="bi bi-file-earmark-text"></i>
				Usa una scheda
			</h3>
		</div>

		<div
			*ngFor="let program of trainingPrograms; index as programIndex"
			[ngClass]="{
				'w-100': true,
				'mb-2': programIndex !== trainingPrograms.length - 1,
				'mb-5': programIndex === trainingPrograms.length - 1
			}"
		>
			<a
				[href]="'#program' + programIndex"
				class="btn btn-light w-100 mb-1 shadow-sm programs-collapser collapser d-flex justify-content-between align-items-center mobile-btn"
				data-bs-toggle="collapse"
				role="button"
				aria-expanded="false"
				aria-controls="collapseExample"
				(click)="focusCollapse('program', programIndex)"
			>
				<p class="text-center mb-0">{{ program.name }}</p>
				<p class="mb-0">
					{{ "Sessioni: " + program.session.length }}
				</p>
			</a>

			<div
				class="collapse w-100 programs-collapse-body collapse-body shadow-sm"
				[id]="'program' + programIndex"
			>
				<div class="card card-body p-1 border-0">
					<h5 class="text-center">Sessioni</h5>
					<div
						*ngFor="
							let session of program.session;
							index as sessionIndex
						"
						class="w-100 mb-2"
					>
						<a
							[href]="'#session' + programIndex + sessionIndex"
							class="btn btn-light shadow-sm w-100 mb-1 collapser sessions-collapser d-flex justify-content-between align-items-center mobile-btn"
							data-bs-toggle="collapse"
							role="button"
							aria-expanded="false"
							aria-controls="collapseExample"
							(click)="focusCollapse('session', sessionIndex)"
						>
							<p class="text-center mb-0">
								{{ session.name }}
							</p>
						</a>

						<div
							class="collapse w-100 sessions-collapse-body collapse-body shadow-sm"
							[id]="'session' + programIndex + sessionIndex"
						>
							<div class="card card-body p-1 border-0">
								<table
									class="table table-sm table-striped table-hover"
								>
									<thead>
										<tr>
											<th scope="col">Esercizio</th>
											<th scope="col">Serie</th>
											<th scope="col">Intensità</th>
										</tr>
									</thead>
									<tbody class="table-group-divider">
										<tr
											*ngFor="
												let exercise of session.exercises;
												index as exerciseIndex
											"
										>
											<th class="text-wrap">
												<i
													*ngIf="
														exercise.note &&
														exercise.note != ''
													"
													(click)="
														showNotes(
															programIndex,
															sessionIndex,
															exerciseIndex
														)
													"
													style="cursor: pointer"
													class="me-1 bi bi-info-circle-fill"
												></i>
												{{ exercise.name }}
											</th>

											<td class="text-wrap">
												<div class="d-flex flex-column">
													<div
														*ngFor="
															let set of formatSets(
																exercise.set
															);
															index as setIndex
														"
													>
														{{ set }}
													</div>
												</div>
											</td>

											<td>
												<!--Desktop-->
												<p
													*ngIf="
														exercise.intensity ===
														'light'
													"
													class="bg-success mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
													style="width: fit-content"
												>
													Leggero
													<i
														class="ms-1 bi bi-feather"
													></i>
												</p>
												<p
													*ngIf="
														exercise.intensity ===
														'hard'
													"
													class="bg-warning mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
													style="width: fit-content"
												>
													Pesante
													<i
														class="ms-1 bi bi-lightning-fill"
													></i>
												</p>
												<p
													*ngIf="
														exercise.intensity ===
														'failure'
													"
													class="bg-danger mb-0 d-none d-lg-block text-light px-3 py-1 rounded-5"
													style="width: fit-content"
												>
													Cedimento
													<i
														class="ms-1 bi bi-fire"
													></i>
												</p>

												<!--Mobile-->
												<p
													*ngIf="
														exercise.intensity ===
														'light'
													"
													class="bg-success mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
													style="width: fit-content"
												>
													<i
														class="bi bi-feather"
													></i>
												</p>
												<p
													*ngIf="
														exercise.intensity ===
														'hard'
													"
													class="bg-warning mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
													style="width: fit-content"
												>
													<i
														class="bi bi-lightning-fill"
													></i>
												</p>
												<p
													*ngIf="
														exercise.intensity ===
														'failure'
													"
													class="bg-danger mb-0 d-block d-lg-none text-light px-2 py-1 rounded-5"
													style="width: fit-content"
												>
													<i class="bi bi-fire"></i>
												</p>
											</td>
										</tr>
									</tbody>
								</table>
								<button
									class="btn btn-dark d-none d-lg-block"
									(click)="
										selectWorkout(
											programIndex,
											sessionIndex
										)
									"
								>
									Seleziona
									<i class="ms-1 bi bi-check2-circle"></i>
								</button>

								<button
									class="btn btn-sm btn-dark d-block d-lg-none"
									(click)="
										selectWorkout(
											programIndex,
											sessionIndex
										)
									"
								>
									Seleziona
									<i class="ms-1 bi bi-check2-circle"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w-100 mb-3 text-secondary">
			<h3 class="text-start">
				<i class="bi bi-journals"></i>
				Usa un template
			</h3>

			<button
				class="btn btn-light w-100 mb-1 shadow-sm programs-collapser collapser d-flex justify-content-between align-items-center mobile-btn"
				data-bs-toggle="collapse"
				role="button"
				aria-expanded="false"
				aria-controls="collapseExample"
				disabled
			>
				<p class="text-center mb-0 text-secondary">Template</p>
				<p class="mb-0 text-secondary">Presto disponibile</p>
			</button>
		</div>

		<button
			class="btn btn-dark my-4 d-none d-lg-block w-100"
			routerLink="/home/dashboard"
		>
			Torna alla home
			<i class="ms-1 bi bi-house-fill"></i>
		</button>

		<button
			class="btn btn-sm btn-dark my-4 d-block d-lg-none w-100"
			routerLink="/home/dashboard"
		>
			Torna alla home
			<i class="ms-1 bi bi-house-fill"></i>
		</button>
	</div>
</div>
