<mat-progress-bar
	*ngIf="this.loading"
	mode="indeterminate"
	color="primary"
></mat-progress-bar>
<div id="training-program-selector-container">
	<div id="title-container">
		<h1><span id="title">Scegli la scheda</span></h1>
	</div>

	<ng-container
		*ngIf="
			(this.trainingPrograms == undefined ||
				this.trainingPrograms.length == 0) &&
			!this.loading
		"
	>
		<p id="info-text">Non ci sono schede</p>
	</ng-container>

	<mat-accordion>
		<mat-expansion-panel
			hideToggle
			*ngFor="
				let program of this.trainingPrograms;
				index as trainingProgramIndex
			"
		>
			<mat-expansion-panel-header>
				<mat-panel-title>{{ program.name }}</mat-panel-title>
				<mat-panel-description>
					Numero di sessioni: {{ program.session.length }}
				</mat-panel-description>
			</mat-expansion-panel-header>

			<mat-accordion>
				<mat-expansion-panel
					hideToggle
					*ngFor="
						let session of program.session;
						index as sessionIndex
					"
				>
					<mat-expansion-panel-header>
						<mat-panel-title>{{ session.name }}</mat-panel-title>
						<mat-panel-description>
							Numero di esercizi: {{ session.exercises.length }}
						</mat-panel-description>
					</mat-expansion-panel-header>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">Nome</th>
								<th scope="col">Serie-Ripetizioni</th>
								<th scope="col">RPE</th>
								<th scope="col">Riposo</th>
								<th scope="col">Note</th>
							</tr>
						</thead>
						<tbody>
							<tr
								*ngFor="
									let exercise of session.exercises;
									index as exerciseIndex
								"
							>
								<th scope="row">{{ exercise.name }}</th>
								<td>
									{{
										exercise.series > 0
											? exercise.series +
											  "x" +
											  (exercise.range &&
											  exercise.range[0] !=
													exercise.range[1]
													? exercise.range[0] +
													  "-" +
													  exercise.range[1]
													: exercise.reps
													? exercise.reps
													: exercise.range[0])
											: "/"
									}}
								</td>
								<td>{{ exercise.RPE }}</td>
								<td>
									{{
										exercise.rest
											? exercise.rest.minutes +
											  ":" +
											  exercise.rest.seconds
											: exercise.restTime
											? exercise.restTime
											: "/"
									}}
								</td>
								<td>
									<i
										*ngIf="
											exercise.note && exercise.note != ''
										"
										class="bi bi-question-circle-fill"
										style="cursor: pointer"
										(click)="
											showNotes(
												trainingProgramIndex,
												sessionIndex,
												exerciseIndex
											)
										"
									></i>
								</td>
							</tr>
						</tbody>
					</table>

					<div
						style="
							display: flex;
							flex-direction: row;
							justify-content: flex-end;
						"
					>
						<button
							class="btn btn-primary custom-button"
							color="primary"
							(click)="
								selectWorkout(
									trainingProgramIndex,
									sessionIndex
								)
							"
						>
							Seleziona
						</button>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-expansion-panel>
	</mat-accordion>

	<div id="cancel-button-container">
		<button class="btn btn-outline-danger" color="warn" (click)="cancel()">
			Annulla
		</button>
	</div>
</div>
