<div
	class="d-flex flex-column justify-content-center align-items-center p-3"
	style="height: 200px"
>
	<h1>Reset della password</h1>

	<div class="d-flex flex-column w-100 mb-3">
		<p class="mb-0">E-mail</p>
		<input
			[(ngModel)]="email"
			type="email"
			class="border-0 border-bottom py-1"
			style="background-color: transparent"
		/>
	</div>

	<div class="d-flex justify-content-center align-items-center w-100">
		<button
			class="purple-btn text-light btn w-100 me-3"
			(click)="sendRecoverPasswordEmail()"
			[disabled]="!allowSend()"
		>
			Invia
			<i class="ms-1 bi bi-send"></i>
		</button>
		<button class="btn btn-dark w-100" (click)="closeDialog()">
			Annulla
		</button>
	</div>
</div>
